<div class="row">
  <div class="span9">
   <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name),
        html: { method: :post, class: form_class }) do |f|
    %>
      <fieldset class="withBorder">
        <legend>Resend confirmation instructions</legend>
        <div class="control-group">
          <%= f.label :email %>
          <div class="controls">
            <%= f.text_field :email, required: true, autofocus: true,
                  type: "email", class: "input-large"
            %>
            <span class="help-block">
              We will send you again the confirmation instructions to activate your account
            </span>
          </div>
        </div>
        <div class="form-actions">
          <%= f.submit "Resend confirmation instructions",
                class: "btn btn-primary",
                'data-disable-with' => 'Sending...'
          %>
        </div>
      </fieldset>
    <% end %> <!-- End Form -->
  </div> <!-- End span11-->
</div> <!-- End row -->

<% content_for :breadcrumb do %>
  <li>
    <%= link_to "Home", root_path, title: "Home", rel: 'home' %>
    <span class="divider">/</span>
  </li>
  <li class="active">Resend confirmation instructions</li>
<% end %>
