<div class="panel">
  <h3>Title</h3>
  <div class="panel_contents">
    <div class="attributes_table item">
      <%= @item.title %>
    </div>
  </div>
</div>

<div class="panel">
  <h3>Highlight</h3>
  <div class="panel_contents">
    <div class="attributes_table item">
      <%= @item.highlight %>
    </div>
  </div>
</div>

<div class="panel">
  <h3>Abstract</h3>
  <div class="panel_contents">
    <div class="attributes_table item">
      <%= @item.abstract %>
    </div>
  </div>
</div>

<div class="panel">
  <h3>Main Category</h3>
  <div class="panel_contents">
    <div class="attributes_table item">
      <%= @item.category_title %>
    </div>
  </div>
</div>

<div class="panel">
  <h3>General Tags</h3>
  <div class="panel_contents">
    <div class="attributes_table item">
      <ul>
        <% @item.general_tags.each do |tag| %>
          <li><%= tag.title %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>


<div class="panel">
  <h3>Region Tags</h3>
  <div class="panel_contents">
    <div class="attributes_table item">
      <ul>
        <% @item.region_tags.each do |tag| %>
          <li><%= tag.title %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>


<div class="panel">
  <h3>Country Tags</h3>
  <div class="panel_contents">
    <div class="attributes_table item">
      <ul>
        <% @item.country_tags.each do |tag| %>
          <li><%= tag.title %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="panel">
  <h3>Author and Source Details</h3>
  <div class="panel_contents">
    <div class="attributes_table item">
      <p>Name: <%= @item.author_name %></p>
      <p>Email: <%= @item.author_name %></p>
      <p>Source URL: <%= @item.source_url %></p>
    </div>
  </div>
</div>

<div class="panel">
  <h3>Satus Codes</h3>
  <div class="panel_contents">
    <div class="attributes_table item">
      <p>Draft: <%= @item.draft %></p>
      <p>Featured: <%= @item.featured %></p>
      <p>Comments Enabled: <%= @item.allow_comments %></p>
      <p>Star Rating Enabled: <%= @item.allow_star_rating %></p>
      <p>Protected Record: <%= @item.protected_record %></p>
    </div>
  </div>
</div>

<div class="panel">
  <h3>Dates</h3>
  <div class="panel_contents">
    <div class="attributes_table item">
      <p>Published: <%= @item.published_at.to_s(:long) if @item.published_at %></p>
      <p>Expires: <%= @item.expires_on.to_s(:long) if @item.expires_on %></p>
      <p>Created: <%= @item.created_at.to_s(:long) %></p>
      <p>Updated: <%= @item.updated_at.to_s(:long) %></p>
      <p>Updated by: <%= @item.user.title if @item.user %></p>
    </div>
  </div>
</div>


<div class="panel">
  <h3>Body</h3>
  <div class="panel_contents">
    <div class="attributes_table item">
      <%= @item.body.html_safe %>
    </div>
  </div>
</div>

<div class="panel">
  <h3>Editor Notes</h3>
  <div class="panel_contents">
    <div class="attributes_table item">
      <%= @item.editor_notes %>
    </div>
  </div>
</div>


<div class="panel">
  <h3>Images</h3>
  <div class="panel_contents">
    <div class="attributes_table item">
      <% @item.attachments.each do |attachment| %>
        <% if attachment.image %>
          <span class='image'>
            <h3>Image</h3>
            <%= link_to(
                image_tag(attachment.image.medium.url, :class => "show_item_img"), 
                admin_attachment_path(attachment),
                :title => "Show full size"
              ) 
            %>
            <p><%= attachment.description %></p>
            <p>
              <%= link_to "Edit", edit_admin_attachment_path(attachment) %> - 
              <%= link_to "Delete", admin_attachment_path(attachment), :method => 'delete', 
                    :confirm => "Are You sure you want to delete this Image?" 
              %>
            </p>
          </span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


<div class="panel">
  <h3>Revisions</h3>
  <div class="panel_contents">
    <div class="attributes_table item">
      <% @item.versions.each do |v| %>
        <% if v.whodunnit%>
          <% user = User.where(:id => v.whodunnit).first %>
          <p>
            <%= link_to(user.title, admin_user_path(v.whodunnit)) if user %> 
            did a '<%= v.event %>' action on
            '<%= v.created_at.to_s(:long) %>'
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
