<div class="row">
  <div class="span8">
    <%= form_for(resource,
          as: resource_name,
          url: registration_path(resource_name),
          html: { method: :put, class: form_class }
        ) do |f|
    %>

      <%= custom_devise_error_messages! %>

      <% if f.object.email.to_s.match("please_update_your_email") %>
        <div class="alert alert-notice">Please update your email address</div>
      <% end %>

      <fieldset class="withBorder">
        <legend>Private Information</legend>

        <div class="control-group">
          <%= f.label :email, class: 'control-label' %>
          <div class="controls">
            <%= f.text_field :email, required: true, type: "email", class: "imput-large" %>
            <p class="help-block">Your email will not be shown to the public.</p>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :name, class: 'control-label' %>
          <div class="controls">
            <%= f.text_field :name, required: false, placeholder: "Your public name, ex: Anonymous",
                  autofocus: true, class: "imput-large"
            %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :time_zone, class: 'control-label' %>
          <div class="controls">
            <%= f.time_zone_select :time_zone %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :registration_role, "Reason for joining us?", class: 'control-label' %>
          <div class="controls">
            <%= f.select :registration_role, 
                  options_for_select([["Just be a member"], ["To Comment"], ["Comment and Submit Articles"], ["I want to be an Editor"]]),
                  {include_blank: "-- Please Choose"},
                  required: false,
                  class: "imput-medium"
            %>
            <p class="help-block">Not shown to the public</p>
          </div>
        </div>
      </fieldset>

      <fieldset class="withBorder">
        <legend>Public Information</legend>

        <div class="control-group">
          <%= f.label :facebook, class: 'control-label' %>
          <div class="controls">
            <%= f.text_field :facebook, required: false, class: "imput-large", 
                  placeholder: "https://facebook.com/your-name" %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :twitter, class: 'control-label' %>
          <div class="controls">
            <%= f.text_field :twitter, required: false, class: "imput-large", 
                  placeholder: "@twitter (optional)" %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :diaspora, class: 'control-label' %>
          <div class="controls">
            <%= f.text_field :diaspora, required: false, class: "imput-large", 
                  placeholder: "handle@host.net (optional)", type: "email" %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :skype, class: 'control-label' %>
          <div class="controls">
            <%= f.text_field :skype, required: false, class: "imput-large", 
                  placeholder: "skype name (optional)" %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :gtalk, "Google Chat", class: 'control-label' %>
          <div class="controls">
            <%= f.text_field :gtalk, required: false, class: "imput-large", 
                  placeholder: "xxx@gmail.com (optional)", type: "email" %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :jabber, "Jabber", class: 'control-label' %>
          <div class="controls">
            <%= f.text_field :jabber, required: false, class: "imput-large", 
                  placeholder: "xxxxx@jabber.com (optional)", type: "email" %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :bio, "You Bio", class: 'control-label' %>
          <div class="controls">
            <%= f.text_area :bio, required: false, class: "imput-medium",
                  placeholder: "Say something about yourself.",
                  rows: 7, cols: 24
            %>
            <p class="help-block">Shown on your public profile</p>
          </div>
        </div>

      </fieldset>

      <fieldset class="withBorder">
        <legend>Profile Image</legend>
        <div class="control-group">
          <%= f.label :avatar, "Upload Avatar", class: 'control-label' %>
          <div class="controls">
            <%= f.file_field :avatar, class: "imput-large" %>
            <p class="help-block">
              Your avatar image will be shown in the comments section.
            </p>
          </div>
          <% if f.object.has_image? %>
            <div class="controls">
              <%= link_to(
                    image_tag(f.object.avatar.small, class: "show_item_img"),
                    f.object.avatar.url,
                    target: "blank"
                  )
              %>
            </div>
            <div class="controls">
              <%= f.check_box :remove_avatar %> Delete this image
            </div>
          <% end %>
        </div>
      </fieldset>

      <fieldset class="withBorder">
        <legend>GPG Key</legend>
        <div class="control-group">
          <%= f.label :gpg, "Your Public key", class: 'control-label' %>
          <div class="controls">
            <%= f.file_field :gpg, class: "imput-large" %>
            <p class="help-block">
              Only upload your Public Key.
              <br />
              It will be available for download on your profile page.
            </p>
          </div>
          <% if f.object.gpg? %>
            <div class="controls">
              <%= link_to("Download Current Key", f.object.gpg.url, target: "blank") %>
            </div>
          <% end %>
        </div>
      </fieldset>
      
      <fieldset class="withBorder">
        <legend>Email Subscriptions</legend>
        <% if f.object.has_subscription? %>
          <div class="control-group">
            <div class="controls">
              <%= f.check_box :unsubscribe %>
              <%= label_tag "Cancel Alert Subscription", nil, class: 'inline', for: 'user_unsubscribe' %>
              <p class="help-block">
                Select this if you wish to <b>Stop</b> receiving email notifications when a new Article is published.
              </p>
            </div>
          </div>
        <% else %>
          <div class="control-group">
            <div class="controls">
              <%= f.check_box :subscribe %>
              <%= label_tag "New Articles Alert", nil , class: 'inline', for: 'user_subscribe' %>
              <p class="help-block">
                Select this if you wish to receive email notifications when a new Article is published.
              </p>
              <% if f.object.email.to_s.match("please_update_your_email") %>
                <p class="alert alert-notice">
                  Please update your email address to enable subscriptions
                </p>
              <% end %>
            </div>
          </div>
        <% end %>
      </fieldset>
      
      <fieldset class="withBorder">
        <% if f.object.oauth_data.blank? %>
          <legend>Change Password</legend>
        <% else %>
          <legend>Create a Password</legend>
        <% end %>
        <div class="control-group">
          <%= f.label :password, "New Password", class: 'control-label' %>
          <div class="controls">
            <%= f.password_field :password, autocomplete: "off", required: false, class: "imput-large" %>
            <span class="help-block">
              Leave blank if you do not want to change password
            </span>
            <div id="progress"></div>
            <div id="complexity"></div>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :password_confirmation, "New Password Again", class: 'control-label' %>
          <div class="controls">
            <%= f.password_field :password_confirmation, autocomplete: "off", required: false, class: "imput-large"  %>
          </div>
        </div>
      </fieldset>

      <div class="form-actions">
        <%= f.submit "Update", class: "btn btn-primary", data: {disable_with: 'Processing...'} %>
        &nbsp;
        <%= link_to "Delete my account",
              registration_path(resource_name),
              data: {confirm: "Are you sure you want to delete your account from our system?"},
              method: :delete,
              class: 'btn btn-danger'
        %>
      </div>
    
      
    <% end %> <!-- End Form -->
  </div> <!-- End span7-->
</div> <!-- End row -->

<% content_for :breadcrumb do %>
  <li>
    <%= link_to "Home", root_path, title: "Home", rel: 'home' %>
    <span class="divider">/</span>
  </li>
  <li class="active">Edit Profile</li>
<% end %>

<% content_for :footer do %>
  <%= stylesheet_link_tag "jquery.complexify" %>
  <%= javascript_include_tag "jquery.complexify" %>
  <%= javascript_include_tag "registration" %>
<% end %>
