<div class="row">
  <div class="span9">

    <%= form_for(resource,
          as: resource_name,
          url: registration_path(resource_name),
          html: { class: 'form-horizontal' }
        ) do |f| 
    %>
      <%= custom_devise_error_messages! %>
      
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert alert-#{name}" %>
      <% end %>

      <fieldset class="withBorder">
        <legend>Sign up</legend>
        <div class="control-group">
          <%= f.label :email, class: 'control-label' %>
          <div class="controls">
            <%= f.text_field :email, required: true, autofocus: true, type: "email", class: "imput-medium" %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :password, class: 'control-label' %>
          <div class="controls">
            <%= f.password_field :password, required: true, class: "imput-medium" %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :password_confirmation, class: 'control-label' %>
          <div class="controls">
            <%= f.password_field :password_confirmation, required: true, class: "imput-medium" %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :registration_role, "Reason for joining us?", class: 'control-label' %>
          <div class="controls">
            <%= f.select :registration_role, 
                  options_for_select([["Just be a member"], ["To Comment"], ["Comment and Submit Articles"], ["I want to be an Editor"]]),
                  {include_blank: "-- Please Choose"},
                  required: false,
                  class: "imput-medium"
            %>
          </div>
        </div>

        
        <div id="termsofservice-form-element" class="control-group">
          <%= f.check_box :terms_of_service %>
          <strong>
            I agree to the
            <a href="/pages/privacy-and-policy" target="popup">Terms of Service and Privacy Policy</a>
          </strong>
        </div>
      
        <div class="control-group">
          <div class="controls">
            <%= f.submit "Register", class: "btn btn-success", 'data-disable-with' => 'Processing...' %>
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <%= render partial: '/shared/social_connects' %>
          </div>
        </div>

      </fieldset>



      
      
    <% end %> <!-- End Form -->
  </div> <!-- End span8-->
</div> <!-- End row -->

<% content_for :breadcrumb do %>
  <li>
    <a href="/">Home</a>
    <span class="divider">/</span>
  </li>
  <li class="active">Sign Up</li>
<% end %>


<% content_for :footer do %>
  <%= javascript_include_tag "jquery.validate.js" %>
  <script>
    if ($("form#new_user")){
      $("form#new_user").validate({
        rules: {
          "user[email]": {required: true, minlength: 4},
          "user[password]": {required: true, minlength: 6},
          "user[password_confirmation]": {required: true, minlength: 6}
        }
      });
    }
  </script>
<% end %>

