<div class="row-fluid">
  <div class="span9">
    <%= form_for(resource,
          as: resource_name,
          url: registration_path(resource_name),
          html: { class: form_class }
        ) do |f| 
    %>
      <%= custom_devise_error_messages! %>
      <%= bootstap_flash %>

      <fieldset class="withBorder">
        <legend>Sign up</legend>
        <div class="control-group">
          <%= f.label :email, class: 'control-label' %>
          <div class="controls">
            <%= f.text_field :email,
                  placeholder: "Your email is required",
                  required: true,
                  autofocus: true,
                  type: "email",
                  class: "imput-medium"
            %>
            <p class="help-block">Your email will not be shown to the public.</p>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :password, class: 'control-label' %>
          <div class="controls">
            <%= f.password_field :password, required: true, class: "imput-medium" %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :password_confirmation, class: 'control-label' %>
          <div class="controls">
            <%= f.password_field :password_confirmation, required: true, class: "imput-medium" %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :registration_role, "Reason for joining us?", class: 'control-label' %>
          <div class="controls">
            <%= f.select :registration_role, 
                  options_for_select([["Just be a member"], ["To Comment"], ["Comment and Submit Articles"], ["I want to be an Editor"]]),
                  {include_blank: "-- Please Choose"},
                  required: false,
                  class: "imput-medium"
            %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :name, class: 'control-label' %>
          <div class="controls">
            <%= f.text_field :name, placeholder: "Example: Anonymous", class: "imput-medium" %>
          </div>
        </div>

        <div id="termsofservice-form-element" class="control-group">
          <%= f.check_box :terms_of_service %>
          <strong>
            I agree to the
            <a href="/pages/privacy-and-policy" target="popup">Terms of Service and Privacy Policy</a>
          </strong>
        </div>

        <div class="control-group">
          <div class="controls">
            <%= f.submit "Register", class: "btn btn-success", 'data-disable-with' => 'Processing...' %>
          </div>
        </div>

        <div class='control-group'>
          <div class="horizontal-divider"></div>
          <div class="controls">
            <b>Or login with your existing services:</b>
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <%= render partial: '/shared/social_connects' %>
          </div>
        </div>

      </fieldset>

    <% end %> <!-- End Form -->
  </div> <!-- End span8-->
</div> <!-- End row -->

<% content_for :breadcrumb do %>
  <li>
    <%= link_to "Home", root_path, title: "Home", rel: 'home' %>
    <span class="divider">/</span>
  </li>
  <li class="active">Sign Up</li>
<% end %>


<% content_for :footer do %>
  <script>
    if ($("form#new_user")){
      $("form#new_user").validate({
        rules: {
          "user[email]": {required: true, minlength: 4},
          "user[password]": {required: true, minlength: 6},
          "user[password_confirmation]": {required: true, minlength: 6}
        },
        showErrors: function(errors){
          $.each(this.errorList, function(index, value){
            $(value.element).parent().parent().addClass('error');
            $(value.element).attr('rel', 'tooltip');
            $(value.element).attr('title', value.message);
          });
          $("[rel='tooltip']").tooltip({
            placement: 'right',
            trigger: 'hover'
          });
        }
      });
    }
  </script>
<% end %>

