<div class="row">
  <div class="span7">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= custom_devise_error_messages! %>
    
      <fieldset class="withBorder">
        <legend>Sign up</legend>
        <div class="clearfix">
          <%= f.label :email %>
          <div class="input">
            <%= f.text_field :email, required: true, autofocus: true, type: "email", class: "large" %>
          </div>
        </div>
        <div class="clearfix">
          <%= f.label :password %>
          <div class="input">
            <%= f.password_field :password, required: true, class: "large"  %>
          </div>
        </div>
        <div class="clearfix">
          <%= f.label :password_confirmation %>
          <div class="input">
            <%= f.password_field :password_confirmation, required: true, class: "large"  %>
          </div>
        </div>
        
        <!-- <div class="clearfix">
          <div class="input">
            <%#= show_simple_captcha(object: resource_name.to_s) %>
            <%#= f.simple_captcha label: "Please, enter the letters above" %>
          </div>
        </div> -->
        
        <div id="termsofservice-form-element" class="clearfix">
          &nbsp;&nbsp;
          <%= f.check_box :terms_of_service %>
          <strong>
            I agree to the
            <a href="/pages/privacy-and-policy" target="popup">Terms of Service and Privacy Policy</a>
          </strong>
          </div>
        
        <div class="actions">
          <%= f.submit "Sign up", class: "btn primary", disable_with: 'Processing...' %>
        </div>
      </fieldset>
      
    <% end %> <!-- End Form -->
  </div> <!-- End span8-->
</div> <!-- End row -->

<% content_for :breadcrumb do %>
  <li>
    <a href="/">Home</a>
    <span class="divider">/</span>
  </li>
  <li class="active">Sign Up</li>
<% end %>


<% content_for :footer do %>
  <%= javascript_include_tag "jquery.validate.js" %>
  <script>
    if ($("form#new_user")){
      $("form#new_user").validate({
        rules: {
          "user[email]": {required: true, minlength: 4},
          "user[password]": {required: true, minlength: 6},
          "user[password_confirmation]": {required: true, minlength: 6}
        }
      });
    }
  </script>
<% end %>
