<div class="row">
  <div class="span8">
    <%= form_for(resource,
          as: resource_name,
          url: registration_path(resource_name),
          html: { class: form_class }
        ) do |f| 
    %>
      <%= custom_devise_error_messages! %>
      <%= bootstap_flash %>

      <fieldset class="withBorder">
        <legend><%= _("Sign up") %></legend>
        <div class="control-group">
          <%= f.label :email, _("Email"), class: 'control-label' %>
          <div class="controls">
            <%= f.text_field :email,
                  placeholder: _("Your email is required"),
                  required: true,
                  autofocus: true,
                  type: "email",
                  class: "input-large"
            %>
            <p class="help-block"><%= _("Your email will not be shown to the public.") %></p>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :password, _("Password"), class: 'control-label' %>
          <div class="controls">
            <%= f.password_field :password, required: true, class: "input-large password-complexity" %>
            <div id="progress"></div>
            <div id="complexity"></div>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :password_confirmation, _("Password Confirmation"), class: 'control-label' %>
          <div class="controls">
            <%= f.password_field :password_confirmation, required: true, class: "input-large" %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :registration_role, _("Reason for joining us?"), class: 'control-label' %>
          <div class="controls">
            <%= f.select :registration_role, 
                  options_for_select([[_("Just be a member")], [_("To Comment")], [_("Comment and Submit Articles")], [_("I want to be an Editor")]]),
                  {include_blank: _("-- Please Choose")},
                  required: false,
                  class: "input-large"
            %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :name, _("Name"), class: 'control-label' %>
          <div class="controls">
            <%= f.text_field :name, placeholder: _("Example: Anonymous"), class: "input-large" %>
          </div>
        </div>

        <div id="termsofservice-form-element" class="control-group">
          <%= f.check_box :terms_of_service %>
          <label class="inline" for="user_terms_of_service">
              <%= _("I agree to the") %>
              <a href="/pages/privacy-and-policy" target="popup"><%= _("Terms of Service and Privacy Policy") %></a>
          </label>
        </div>

        <div class="control-group">
          <div class="controls">
            <%= f.submit _("Register"), class: "btn btn-success", data: {disable_with: _('Loading...')} %>
          </div>
        </div>

        <div class='control-group'>
          <div class="horizontal-divider"></div>
          <div class="controls">
            <b><%= _("Or login with your existing services:") %></b>
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <%= render partial: '/shared/social_connects' %>
          </div>
        </div>

      </fieldset>

    <% end %>
  </div>
</div>

<% content_for :breadcrumb do %>
  <li>
    <%= link_to "Home", root_path, title: "Home", rel: 'home' %>
    <span class="divider">/</span>
  </li>
  <li class="active"><%= _("Sign Up") %></li>
<% end %>
