<% if @attachment.existing_attachment %>
  <% @attachment = @attachment.existing_attachment %>
<% end %>

<div class="panel">
  <h3>Image Details</h3>
  <div class="panel_contents">
    <div class="attributes_table image">
      <p>Image Caption: <b><%= @attachment.title %></b></p>
      <% if @attachment.attachable && @attachment.attachable.user %>
        <p>Uploaded by: <b><%= link_to(@attachment.attachable.user.email, admin_user_path(@attachment.attachable.user)) %></b></p>
      <% end %>
      <p>Created at: <b><%= @attachment.created_at.to_s(:long) %></b></p>
    </div>
  </div>
</div>

<div class="panel">
  <h3>Images</h3>
  <div class="panel_contents">
    <div class="attributes_table images">
      <% if @attachment.image.present? %>
        <% @attachment.image.versions.each do |t| %>
          <%= image_tag(t[1], class: "show_listing_img") %>
          <br />
          <h4><%= t[0] %>: <%= link_to "#{t[1]}", @attachment.image.url(t[0].to_sym), target: "blank" %></h4>
          <br />
          <hr />
        <% end %>
        <%= image_tag(@attachment.image.url, class: "show_listing_img")  %>
        <h4>Original Image: <%= link_to @attachment.image.url, @attachment.image.url, target: "blank" %></h4>
      <% else %>
        No Image Uploaded
      <% end %>
    </div>
  </div>
</div>
