<div class="row-fluid">
  <div class="span9">
    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name),
            html: { method: :post, class: form_class }) do |f|
    %>
      <fieldset class="well">
        <h4 class="centered with-bottom-margin"><%= _("Resend unlock instructions") %></h4>
        <div class="control-group">
          <%= f.label :email, class: 'control-label' %>
          <div class="controls">
            <%= f.text_field :email, required: true, autofocus: true, type: "email", class: "input-large" %>
            <span class="help-block">
              <%= _("We will resend you instructions to unlock your password.") %>
            </span>
          </div>
        </div>
        <div class="form-actions">
          <%= f.submit _("Resend unlock instructions"),
                class: "btn btn-primary",
                data: {disable_with: _('Sending...')}
          %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>

<% content_for :breadcrumb do %>
  <li>
    <%= link_to _("Home"), root_path, title: _("Home"), rel: 'home' %>
    <span class="divider">/</span>
  </li>
  <li class="active"><% _("Unlock Account") %></li>
<% end %>
