<div class="row categories">
  <% for language in @languages %>
    <div class="span6 box" id="<%= language.slug %>">
      <h1>
        <%= link_to language.description, language %>
        <%= link_to(
              image_tag("icons/social/rss_16.png", alt: "RSS for #{language.description}"), 
              language_items_path(language, format: "rss"),
              title: "RSS feed for #{language.description} News only"
            )
        %>
      </h1>
      <ul>
        <% language.top_items(8).each_with_index do |item,index|%>
          <li class="list_item" id="item_<%=item.id%>">
            <% if index==0 && item.has_image? %>
              <%= link_to(
                    image_tag(item.main_image.image.small, class: "list_item_image"),
                    item,
                    title: item.abstract
                  )
              %>
              <%= link_to item.title.to_s.truncate(100), item, title: item.abstract %>
              <span class="abstract"><%= item.abstract.to_s.truncate(80) %></span>
            <% else %>
              <%= link_to item.title.to_s.truncate(160), item, title: item.abstract %>
            <% end %>
          </li>
        <% end %>
      </ul>
      <span class="more"><%= link_to "more...", language %></h2>
    </div>
  <% end %>
</div>