<% @authors.each do |author| %>

  <article class="author" id="author_<%=author.id%>">
    <header>
      <% if author.avatar? %>
        <%= link_to(
              image_tag(author.avatar.small, class: "show_item_image", alt: author.public_display_name),
              author_path(author)
            )
        %>
      <% end %>
      <h3><%= link_to author.public_display_name, author_path(author), title: author.public_display_name %></h3>
      <%= author.bio %>
    </header>
    <div class="clearfix"></div>
    <section>
      <p>Karma: <%= author.full_karma %></p>
      <% unless author.twitter.to_s.empty? %>
        <p>Twitter: <%= twitter_user_link(author.twitter) %></p>
      <% end %>
      <% unless author.diaspora.to_s.empty? %>
        <p>Diaspora: <%= author.diaspora %></p>
      <% end %>
      <p><%= _("Articles Submitted:") %> <%= author.items_count %></p>
      <p><%= _("Original Articles:") %> <%= author.original_items_count %></p>
      <p>
        <%= _("Comments") %>:
        <%= link_to(
              author.comments_count,
              author_comments_path(author),
              title: "View all #{author.public_display_name} comments"
            )
        %>
      </p>
    </section>
  </article>

<% end %>
