<% content_for :head do %>
  <%= auto_discovery_link_tag(:rss, author_path(@author), format: "rss") %>
  <%= auto_discovery_link_tag(:atom, author_path(@author), format: "atom") %>
<% end %>

<article class="author" id="author_<%=@author.id%>">
  <header>
    <% if @author.avatar? %>
      <%= link_to(image_tag(@author.avatar.small, class: "show_item_image"), author_path(@author)) %>
    <% end %>
    <h3><%= link_to @author.public_display_name, author_path(@author), rev: 'author' %></h3>
  </header>
  <section>
    <% unless @author.twitter.to_s.empty? %>
      <p>Twitter: <%= twitter_user_link(@author.twitter) %></p>
    <% end %>
    <% unless @author.diaspora.to_s.empty? %>
      <p>Diaspora: <%= @author.diaspora %></p>
    <% end %>
    <% if @author.gpg? %>
      <p>GPG Key: <%= link_to "Download", @author.gpg.url %></p>
    <% end %>
    <p><%= _("Submitted Articles:") %> <%= @author.items_count %></p>
    <p><%= _("Original Articles:")%> <%= @author.original_items_count %></p>
    <p>
      <%= _("Comments") %>:
      <%= link_to(
            @author.comments_count,
            author_comments_path(@author),
            title: "View all #{@author.public_display_name} comments"
          )
      %>
    </p>
    <p>
      <%= link_to(
            _("View Comments"),
            author_comments_path(@author),
            title: "View all #{@author.public_display_name} comments",
            class: 'btn'
          )
      %>
    </p>
    <br />
    <%= @author.bio %>
    <% if (current_user && @author.id == current_user.id) or (current_admin_user && @author.id == current_admin_user.id) %>
      <%= link_to _("Edit my Profile"), edit_user_registration_url(protocol: 'https'), class: "btn" %>
    <% end %>
  </section>
</article>

<% if @items.empty? %>
  <div class='alert alert-info'>
    <a class="close" data-dismiss="alert" href="#">×</a>
    <% if (current_user && (current_user.id == @author.id)) or (current_admin_user && @author.id == current_admin_user.id) %>
      <h4 class="alert-heading"><%= _("You have not submitted any articles yet") %></h4>
      <%= _("Please read this page if you would like to contribute with articles: ") %>
      <u><b><%= link_to(_("How To Contribute"), @help_page) if @help_page %></b></u>
    <% else %>
      <h4 class="alert-heading"><%= _("This user has no Articles yet.") %></h4>
    <% end %>
  </div>
<% else %>
  <h3 class="alert alert-success">
    <%= @author.public_display_name %> Articles
  </h3>
  <% @items.each do |item| %>
    <%= render partial: "/shared/item", locals: {item: item } %>
  <% end %>
<% end %>


<% content_for :breadcrumb do %>
  <li>
    <%= link_to "Home", root_path, title: "Home", rel: 'home' %>
    <span class="divider">/</span>
  </li>
  <li>
    <%= link_to _("Authors"), authors_path, title: _("All Authors Page") %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    <%= link_to @author.public_display_name, author_path(@author), rev: 'author' %>
    <%= link_to(
          image_tag("icons/social/rss_16.png", alt: "RSS for #{@author.public_display_name}"), 
          author_path(@author, format: "rss"),
          title: (_("RSS feed for %{str}") % { str: @author.public_display_name })
        )
    %>
  </li>
<% end %>

<div class="pagination">
  <%= paginate @items %>
</div>
