<div class="row">
  <div class="span8">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
      <fieldset class="withBorder">
        <legend>Change Password</legend>
        
        <%= f.hidden_field :reset_password_token %>
        <%#= f.full_error :reset_password_token %>
        
        <div class="clearfix">
          <%= f.label :password, "New Password" %>
          <div class="input">
            <%= f.password_field :password, :required => false, :class => "xlarge"  %>
          </div>
        </div>
        <div class="clearfix">
          <%= f.label :password_confirmation, "Confirm your new password" %>
          <div class="input">
            <%= f.password_field :password_confirmation, :required => false, :class => "xlarge"  %>
          </div>
        </div>
        <div class="actions">
          <%= f.submit "Change my password", :class => "btn primary" %>
        </div>
      </fieldset>
    <% end %> <!-- End Form -->
  </div> <!-- End span8-->
</div>

<% content_for :breadcrumb do %>
  <li>
    <a href="/">Home</a>
    <span class="divider">/</span>
  </li>
  <li class="active">Change Password</li>
<% end %>
