<div class="row-fluid">
  <div class="span9">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name),
          html: { method: :put, class: 'form-horizontal' }) do |f|
    %>
      <fieldset class="withBorder">
        <legend>Change Password</legend>
        <%= f.hidden_field :reset_password_token %>
        <div class="control-group">
          <%= f.label :password, "New Password", class: 'control-label' %>
          <div class="controls">
            <%= f.password_field :password, required: true, class: "input-large"  %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :password_confirmation, "Confirm your new password", class: 'control-label' %>
          <div class="controls">
            <%= f.password_field :password_confirmation, required: true, class: "input-large"  %>
          </div>
        </div>
        <div class="form-actions">
          <%= f.submit "Change my password", class: "btn btn-primary", disable_with: 'Sending...' %>
        </div>
      </fieldset>
    <% end %> <!-- End Form -->
  </div> <!-- End span8-->
</div>

<% content_for :breadcrumb do %>
  <li>
    <a href="/">Home</a>
    <span class="divider">/</span>
  </li>
  <li class="active">Change Password</li>
<% end %>
