<div class="row-fluid">
  <div class="span9">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name),
          html: { method: :post, class: form_class }) do |f|
    %>
      <fieldset class="well">
        <h4 class="centered with-bottom-margin"><%= _("Password reset") %></h4>
        <div class="control-group">
          <%= f.label :email, 'Your Email', class: 'control-label' %>
          <div class="controls">
            <%= f.text_field :email,
                  required: true,
                  autofocus: true,
                  type: "email",
                  class: "input-large"
            %>
            <span class="help-block">
              <%= _("We will send you instructions to reset your password.") %>
              <br />
              <%= _("The token will only be valid for 8 hours.") %>
            </span>
          </div>
        </div>
        <div class="form-actions">
          <%= f.submit _("Reset my Password"), class: "btn btn-primary", data: {disable_with: _('Sending...')} %>
        </div>
      </fieldset>
    <% end %> <!-- End Form -->
  </div> <!-- End span6-->
</div>

<% content_for :breadcrumb do %>
  <li>
    <%= link_to _("Home"), root_path, title: _("Home"), rel: 'home' %>
    <span class="divider">/</span>
  </li>
  <li class="active"><%= _("Forgot Password") %></li>
<% end %>
