<article class="category" id="item_<%=item.id%>">
  <header>
    <% unless item.attachments.empty?%>
      <%= image_tag(item.attachments.first.image.small, :class => "show_item_image") %>
    <% end %>
    <h3><%= link_to item.title, item %></h3>
  </header>
  <section>
    <%= item.abstract.to_s.html_safe %>
  </section>
  <section>
    <%= item.body.to_s.html_safe %>
  </section>
  <section>
    <span class="source_url">
      Tags: <%= item.tag_list %>
      <% if item.language %>
        <%= item.language.description %>
      <% end %>
    </span>
    <div class="page_views">
      <% if item.item_stat %>
        Views: <%= item.item_stat.views_counter %>
      <% end %>
    </div>
  </section>
</article>