<% cache("atom/#{item.cache_key_full}") do %>
  <article class="category" id="item_<%=item.id%>">
    <div>
      <h3>
      <%= sanitize item.abstract,
            tags: %w(table tr td p b i u em blockquote strong ol ul li dl dd div span h1 h2 h3 h4 h5),
            attributes: %w(id class style) %>
      </h3>
    </div>
    <div>
      <p>
      <% if item.has_image?%>
        <span style="float:left; margin-right:10px;">
          <%= image_tag(item.main_image.image.small) %>
        </span>
      <% end %>
      <%= truncate(
            sanitize(item.body,
              tags: %w(),
              attributes: %w()
            ),
            length: 400,
            omission: ' ... (click link to read full article)'
          )
      %>
      </p>
      <%#= item.body.to_s.html_safe %>
    </div>
    <section>
      <p class="source_url">
        Category: <%= item.category_title %>
      </p>
      <p class="source_url">
        Tags: <%= item.tag_list %>
      </p>
      <p class="page_views">
        <% if item.item_stat %>
          Views: <%= item.item_stat.views_counter %>
        <% end %>
      </p>
    </section>
  </article>
<% end %>