<footer>
  <ul class="footer_menu">

    <span class="footer_categories">
      <% Category.order("priority ASC").each do |category| %>
        <li>
          <%= link_to category.title, category, title:  category.description %>
        </li>
      <% end %>
    </span>
    
    <% Page.all(order: "priority ASC").each do |page| %>
      <li><%= link_to page.title, page, title: page.title %></li>
    <% end %>
    
      <li><%= link_to "Feeds", feed_path, title: "Multiple RSS Feeds" %></li>
    
    <% if current_user or current_admin_user %>
      <li>
        <%= link_to "Edit Profile", 
              edit_user_registration_url(protocol: http_protocol),
              title: "Edit your Profile information"
        %>
      </li>
      <li>
        <%= link_to 'Logout', 
              destroy_user_session_url(protocol: http_protocol),
              method: :delete, title: "Logout"
        %>
      </li>
    <% else %>
      <li>
        <%= login_link 'Login' %>
      </li>
      <%- if Devise.mappings[:user].registerable?  %>
        <li>
          <%= link_to "Registration", 
                new_registration_url(:user, protocol: http_protocol),
                title: "Please Join us" 
          %>
        </li>
      <% end %>
      <%- if Devise.mappings[:user].recoverable? && controller_name != 'passwords' %>
        <li>
          <%= link_to "Forgot your password?",
                new_password_url(:user, protocol: http_protocol), 
                title: "Click here to recover your password." 
          %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <p class="footer_logo">
    World Mathaba
  </p>
  <p class="render_time">
    Page Rendered in <strong><%= sprintf('%.3f', (Time.now.usec - @start_time).abs / 1000000.0) %></strong> seconds
  </p>
  <p class="render_time">
    <%= link_to 'Source code under GPLv3', "https://github.com/fred/mnn", title: 'License and Source Code', rel: 'license' %>
  </p>
</footer>