<footer>
  <ul class="footer_menu">
    <li>&copy; Publication System </li>
    <li><%= link_to "Feeds", feed_path %> </li>
    <li><%= link_to "Help", "#" %> </li>
    <li><%= link_to "Terms & Policy", "#" %> </li>
    <li><%= link_to "Contact", "#" %> </li>
    
    <% if user_signed_in? %>
      <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
      <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
    <% else %>
      <li><%= link_to "Sign in", new_session_path(:user) %></li>
      <%- if Devise.mappings[:user].registerable?  %>
        <li><%= link_to "Sign up", new_registration_path(:user) %></li>
      <% end -%>
      <%- if Devise.mappings[:user].recoverable? && controller_name != 'passwords' %>
        <li><%= link_to "Forgot your password?", new_password_path(:user) %></li>
      <% end -%>
    <% end %>
  </ul>
</footer>