<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="application-name" content="WorldMathaba News System">
<meta name="generator" content="Ruby on Rails">    
<% if @meta_description %>
<meta name="description" content="<%= @meta_description %>">
<% else %>
<meta name="description" content="WorldMathaba News System">
<% end %>
<% if @meta_keywords %>
<meta name="keywords" content="news, <%= @meta_keywords %>">
<% else %>
<meta name="keywords" content="worldmathaba, independent news">
<% end %>
<% if @meta_language %>
<meta name="language" content="<%= @meta_language %>">
<% else %>
<meta name="language" content="en">
<% end %>
<% if @meta_author %>
<meta name="author" content="<%= @meta_author %>">
<% else %>
<meta name="author" content="WorldMathaba News System">
<% end %>
<% if @meta_title %>
<title> <%= @meta_title %> </title>
<% else %>
<title> WorldMathaba News System </title>
<% end %>
<meta name="viewport" content="width=device-width; height=device-height; maximum-scale=1.6; initial-scale=1.0; user-scalable=yes"/>
<meta name="HandheldFriendly" content="true"/>
<link rel="icon" type="image/png" href="/assets/favicon.png" />