<% cache("_item/#{item.cache_key_full}") do %>
  <article class="category" id="item_<%=item.id%>">
    <header>
      <% if item.has_image? %>
        <%= link_to image_tag(item.main_image.image.small, :class => "show_item_image"), item %>
      <% elsif item.youtube_id && item.youtube_img %>
        <%= image_tag("https://img.youtube.com/vi/#{item.youtube_id}/0.jpg", :class=>"show_item_image youtube_small") %>
      <% end %>
      <h3><%= link_to item.title, item %></h3>
    </header>
    <section>
      <%= item.abstract.to_s.html_safe %>
    </section>
    <section class="small_font">
      <span class="source_url">
        <% if item.source_url %>
          <%= link_to "Source", item.source_url %>
        <% end %>
        <% if item.author_name %>
          by <span class="author"><%= link_to item.author_name, search_path(:q => item.author_name) %></span>
        <% end %>
      </span>
      <span class="date">
        <%= time_tag(item.published_at.in_time_zone("UTC"), :pubdate => false) %> (UTC)
      </span>
      <% if item.user %>
        <span class="author">Submitted by <%= link_to_if(item.user, item.user.title, author_path(item.user)) %></span>
      <% end %>
      
      <ul class="tags">
        <% item.tags.each do |tag| %>
          <li><%= link_to tag.title, tag_path(tag) %></li>
        <% end %>
        <% if item.language %>
          <li><%= link_to item.language.description, language_items_path(item.language) %></li>
        <% end %>
      </ul>
      <div class="page_views">
        <% if item.item_stat %>
          Views: <%= item.item_stat.views_counter %>
        <% end %>
      </div>
      <div class="comments_count">
        Comments: <%= item.comments.count %>
      </div>
      <div class="clearfix"></div>
      <% @related = item.solr_similar(4) %>
      <% if @related && @related.total > 0 %>
        <section class="related">
          <h4>Related items</h4>
          <ul>
            <% @related.results.each do |item| %>
              <li><%= link_to item.title, item, :title => item.abstract %></li>
            <% end %>
          </ul>
        </section>
      <% end %>
    </section>
  </article>
<% end %>