<% cache_expiring("_item/#{item.cache_key}", 8.hours) do %>
  <article class="category" id="item_<%=item.id%>">
    <% unless @category %>
      <h5 class="no-margin"><%= link_to(item.category_title, item.category, title: _("Read more articles in this category")) if item.category %></h5>
    <% end %>
    <header>
      <% if item.has_image? %>
        <%= link_to image_tag(item.main_image.image.small,
                      class: "show_item_image",
                      alt: alt_for_image(item.main_image),
                      title: alt_for_image(item.main_image)
                    ),
            item,
            title: item.title,
            rel: 'image'
        %>
      <% elsif item.youtube_id && item.youtube_img %>
        <%= image_tag(youtube_thumb(item), 
            class: "show_item_image youtube_medium")
        %>
      <% end %>
      <h3><%= link_to item.title, item, title: item.title %></h3>
    </header>

    <section>
      <%= item.abstract.to_s.html_safe %>
    </section>

    <section class="small_font">

      <span class="source_url">
        <% if item.youtube_id && item.youtube_vid %>
          <%= link_to _('Youtube Source'), "http://www.youtube.com/watch?v=#{item.youtube_id}" %>
        <% elsif item.source_url.present? %>
          <%= link_to _('Source'), item.source_url %>
        <% end %>

        <% if !item.original? && item.author_name %>
          - <%= _("by") %>
          <span class='author' itemprop='author'>
            <%= link_to item.author_name, search_path(q: "\"#{item.author_name}\""), title: _('Author Articles') %>
          </span>
        <% end %>
      </span>

      <span class="date">
        <%= time_ago_in_words(item.published_at) %> <%= _('ago') %>
      </span>

      <% if item.original? && item.user %>
        <span class='author'>
          <%= _("Written by") %>
          <i class="icon-user"></i>
          <%= link_to_if(item.user,
                  item.user.public_display_name,
                  author_path(item.user),
                  title: "Author Page: #{item.author_name}")
          %>
        </span>
      <% elsif item.user %>
        <span class="author">
          <%= _("Submitted by") %>
          <i class="icon-user"></i>
          <%= link_to_if(item.user, item.user.public_display_name, author_path(item.user)) %>
        </span>
      <% end %>

      <ul class="tags">
        <i class="icon-tags"></i>
        <% item.general_tags.each do |tag| %>
          <li>
            <%= link_to tag.title, tag_path(tag), title: (_("See all Articles tagged as %{str}") % { str: tag.title }) %>
          </li>
        <% end %>
        <% item.region_tags.each do |tag| %>
          <li>
            <%= link_to tag.title, tag_path(tag), title: (_("See all Articles tagged as %{str}") % { str: tag.title }) %>
          </li>
        <% end %>
        <% item.country_tags.each do |tag| %>
          <li>
            <%= link_to tag.title, tag_path(tag), title: (_("See all Articles tagged as %{str}") % { str: tag.title }) %>
          </li>
        <% end %>
      </ul>

      <% if item.item_stat %>
        <i class="icon-play-circle"></i>
        <div class="page_views">
          <%= item.item_stat.views_counter %>
          <%= _("Views") %>
        </div>
      <% end %>

      <% if item.comments_count > 0 %>
        <div class="icon comments_count">
          <i class="icon-comment"></i>
          <%= item.comments_count %>
          <%= n_("Comment", "Comments", item.comments_count) %>
        </div>
      <% end %>
      <div class="clearfix"></div>
      <% @related = item.solr_similar(3) %>
      <% if @related && @related.total > 0 %>
        <div class="related">
          <section id="related">
            <h4><%= _("Related articles") %></h4>
            <ul class="mini-related">
              <% @related.results.each do |item| %>
                <li><%= link_to item.title, item, title: item_title(item), class: 'easy-tooltip', rel: 'related' %></li>
              <% end %>
            </ul>
          </section>
        </div>
      <% end %>
    </section>
  </article>
<% end %>
