<% cache("_item/#{item.cache_key_full}") do %>
  <article class="category" id="item_<%=item.id%>">
    <header>
      <% if item.has_image? %>
        <%= link_to image_tag(item.main_image.image.small,
                      class: "show_item_image",
                      alt: alt_for_image(item.main_image),
                      title: alt_for_image(item.main_image)
                    ),
            item,
            title: item.title
        %>
      <% elsif item.youtube_id && item.youtube_img %>
        <%= image_tag(youtube_thumb(item), 
            class: "show_item_image youtube_medium")
        %>
      <% end %>
      <h3><%= link_to item.title, item, title: item.title %></h3>
    </header>

    <section>
      <%= item.abstract.to_s.html_safe %>
    </section>

    <section class="small_font">

      <span class="source_url">
        <% if item.youtube_id && item.youtube_vid %>
          <%= link_to 'Youtube Source', "http://www.youtube.com/watch?v=#{item.youtube_id}" %>
        <% elsif item.source_url.present? %>
          <%= link_to 'Source', item.source_url %>
        <% end %>

        <% if !item.original? && item.author_name %>
          - by
          <span class='author' itemprop='author'>
            <%= link_to item.author_name, search_path(q: item.author_name), title: 'Author Articles' %>
          </span>
        <% end %>
      </span>

      <span class="date">
        <%= time_ago_in_words(item.published_at) %> ago
      </span>

      <% if item.original? && item.user %>
        <span class='author'>
          Written by 
          <i class="icon-user"></i>
          <%= link_to_if(item.user,
                  item.user.title,
                  author_path(item.user),
                  title: "Author Page: #{item.author_name}")
          %>
        </span>
      <% elsif item.user %>
        <span class="author">
          Submitted by
          <i class="icon-user"></i>
          <%= link_to_if(item.user, item.user.title, author_path(item.user)) %>
        </span>
      <% end %>
      
      <ul class="tags">
        <i class="icon-tags"></i>
        <% item.tags.each do |tag| %>
          <li><%= link_to tag.title, tag_path(tag), title: "See all Articles tagged as '#{tag.title}'" %></li>
        <% end %>
      </ul>
      
      <div class="page_views">
        <% if item.item_stat %>
          <i class="icon-play-circle"></i>
          <%= item.item_stat.views_counter %> Views
        <% end %>
      </div>

      <% if item.comments_count > 0 %>
        <div class="icon comments_count">
          <i class="icon-comment"></i>
          <%= pluralize(item.comments_count, "Comment") %>
        </div>
      <% end %>
      <div class="clearfix"></div>
      <% @related = item.solr_similar(4) %>
      <% if @related && @related.total > 0 %>
        <section id="related">
          <h4>Related items</h4>
          <ul class="related">
            <% @related.results.each do |item| %>
              <li><%= link_to item.title, item, title: item_title(item) %></li>
            <% end %>
          </ul>
        </section>
      <% end %>
    </section>
  </article>
<% end %>