<div class="modal hide fade" id="modal-login" style="display: none;">
  <div class="modal-header hidden-phone">
    <button class="close" data-dismiss="modal">X</button>
    <h3><%= _("Sign in") %></h3>
  </div>
  <%= form_for(:user, as: :user, 
        url: new_session_url(:user, protocol: 'https'),
        html: {class: form_class, id: 'login_form'}) do |f|
  %>
    <div class="modal-body">
      <div class="control-group">
        <%= f.label :email, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :email, autofocus: true, type: "email", class: "span4" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :password, _("Password"), class: 'control-label' %>
        <div class="controls">
          <%= f.password_field :password, class: "span4"  %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.check_box :remember_me %>
          <label class="inline" for="user_remember_me">
            <%= _("Stay Signed in") %>
          </label>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <div class="btn-group">
            <%= f.submit _("Sign in"), class: "btn span2", data: {disable_with: _('Sending...')} %>
            <input class="btn span2" data-dismiss="modal" Name="<%= _("Cancel") %>" value="<%= _("Cancel") %>">
          </div>
        </div>
      </div>

      <div class='control-group'>
        <div class="controls">
          New here? 
          <%= link_to _("Register now"),
                  new_registration_url(:user, protocol: 'https'),
                  title: _("Click here to register a new Account")
          %>
        </div>
      </div>

      <div class='control-group'>
        <div class="controls">
          <%= link_to _("Forgot Password?"), new_password_url(:user, protocol: "https") %>
        </div>
      </div>

      <div class='control-group'>
        <div class="horizontal-divider"></div>
        <div class="controls">
          <b><%= _("Or login with your existing services") %></b>
        </div>
      </div>
      
      <div class="control-group">
        <div class="controls">
          <%= render partial: '/shared/social_connects' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
