<!-- Topbar
================================================== -->
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to(image_tag("world_mathaba11.png",
                  width: '200px',
                  height: '33px',
                  class: 'brand',
                  title: 'World Mathaba Independent News Agency',
                  alt: 'World Mathaba'
                ),
            root_path,
            title: 'World Mathaba Independent News Agency'
          )
      %>
      <ul class="nav">
        <% cache_expiring("topbar") do %>
          <li id="home_link">
            <%= link_to "Home", root_path, title: 'World Mathaba Independent News Agency' %>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sections <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% Category.order("title ASC").all.each do |category|%>
                <li><%= link_to category.title, category, title: category.title %></li>
              <% end %>
            </ul>
          </li>
          <li class="dropdown" data-dropdown="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Regions <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% RegionTag.order("title ASC").all.each do |tag|%>
                <li><%= link_to tag.title, tag_path(tag), title: tag.title %></li>
              <% end %>
            </ul>
          </li>

          <li class="dropdown" data-dropdown="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tags <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% GeneralTag.order("title ASC").all.each do |tag| %>
                <li><%= link_to tag.title, tag_path(tag) %></li>
              <% end %>
            </ul>
          </li>


          <li class="dropdown" data-dropdown="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Languages <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% Language.order("locale ASC").all.each do |language|%>
                <li><%= link_to language.description, language, title: language.description %></li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>

      <div class="btn-group pull-right">
        
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-user"></i>
          <% if current_user %>
            <%= current_user.title %>
          <% elsif current_admin_user %>
            <%= current_admin_user.title %>
          <% else %>
            Account
          <% end %>
          <span class="caret"></span>
        </a>

        <ul class="dropdown-menu">
          <% if current_user %>
            <li>
              <%= link_to "Edit Profile", edit_user_registration_url(protocol: http_protocol), title: "Edit My Profile" %>
            </li>
            <li>
              <%= link_to "My Articles", author_path(current_user), title: "My Articles Page" %>
            </li>
            <li>
              <%= link_to 'Sign out',
                    destroy_user_session_url(protocol: http_protocol),
                    method: :delete,
                    title: 'Logout'
              %>
            </li>
          <% elsif current_admin_user %>
            <li>
              <%= link_to "Edit Profile", edit_user_registration_url(protocol: http_protocol), title: "Edit My Profile" %>
            </li>
            <li>
              <%= link_to "My Articles", author_path(current_admin_user), title: "My Articles Page" %>
            </li>
            <li class="divider"></li>
            <li>
              <%= link_to "Admin Panel", admin_dashboard_url(protocol: http_protocol) %>
            </li>
            <li>
              <%= link_to "Resque Queuee", "/resque" %>
            </li>
            <li class="divider"></li>
            <li>
              <%= link_to 'Sign out',
                    destroy_admin_user_session_url(protocol: http_protocol),
                    title: 'Logout',
                    method: :delete
              %>
            </li>
          <% else %>
            <li><%= login_link 'Sign in' %></li>
            <%- if Devise.mappings[:user].registerable?  %>
              <li>
                <%= link_to "Sign up",new_registration_url(:user, protocol: http_protocol), title: "Sign up" %>
              </li>
            <% end -%>
            <%- if Devise.mappings[:user].recoverable? && controller_name != 'passwords' %>
              <li><%= link_to "Forgot your password?", new_password_url(:user, protocol: http_protocol) %></li>
            <% end -%>
            <%- if Devise.mappings[:user].confirmable? && controller_name != 'confirmations' %>
              <li>
                <%= link_to "Didn't receive confirmation instructions?", new_confirmation_url(:user, protocol: http_protocol) %>
              </li>
            <% end -%>
          <% end %>
        </ul>
      </div>

    </div>
  </div>
</div>
<!-- </header> -->