<!-- Topbar
================================================== -->
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <% cache_expiring("navbar") do %>
        <%= link_to(image_tag("world_mathaba11.png",
                    width: '200px',
                    height: '33px',
                    class: 'brand',
                    title: 'World Mathaba Independent News Agency',
                    alt: 'World Mathaba'
                  ),
              root_path,
              title: 'World Mathaba Independent News Agency'
            )
        %>
        <ul class="nav">
          <li id="home_link">
            <%= link_to "Home", root_path, title: 'World Mathaba Independent News Agency' %>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sections <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% Category.order("priority ASC").all.each do |category|%>
                <li><%= link_to category.title, category, title: category.title %></li>
              <% end %>
            </ul>
          </li>
          <li class="dropdown" data-dropdown="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Regions <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% RegionTag.order("title ASC").all.each do |tag|%>
                <li><%= link_to tag.title, tag_path(tag), title: tag.title %></li>
              <% end %>
            </ul>
          </li>
          <li class="dropdown" data-dropdown="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Countries <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% CountryTag.order("title ASC").all.each do |tag| %>
                <li><%= link_to tag.title, tag_path(tag) %></li>
              <% end %>
            </ul>
          </li>
          <li class="dropdown" data-dropdown="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tags <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% GeneralTag.order("title ASC").all.each do |tag| %>
                <li><%= link_to tag.title, tag_path(tag) %></li>
              <% end %>
            </ul>
          </li>
          <li class="dropdown" data-dropdown="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Languages <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% Language.order("locale ASC").all.each do |language|%>
                <li><%= link_to language.description, language, title: language.description %></li>
              <% end %>
            </ul>
          </li>
        </ul>
      <% end %>

      <div class="btn-group pull-right">
        
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-user"></i>
          <% if current_user %>
            <%= current_user.title %>
          <% elsif current_admin_user %>
            <%= current_admin_user.title %>
          <% else %>
            Account
          <% end %>
          <span class="caret"></span>
        </a>

        <ul class="dropdown-menu">

          <% if current_admin_user %>

            <li>
              <%= link_to edit_user_registration_url(protocol: http_protocol), title: "Edit My Profile" do %>
                <i class="icon-user"></i>
                Edit Profile
              <% end %>
            </li>
            
            <li>
              <%= link_to author_path(current_admin_user), title: "My Articles Page" do %>
                <i class="icon-list"></i>
                My Articles
              <% end %>
            </li>
            
            <li class="divider"></li>
            
            <li>
              <%= link_to admin_dashboard_url(protocol: http_protocol) do %>
                <i class="icon-briefcase"></i>
                Admin
              <% end %>
            </li>

            <% if current_ability.can?(:manage,Item) %>
              <li>
                <%= link_to new_admin_item_path do %>
                  <i class="icon-pencil"></i>
                  New Item
                <% end %>
              </li>
            <% end %>

            <% if current_admin_user.has_any_role?(:admin,:security) %>
              <li class="divider"></li>
              <%= render partial: "/shared/system_menu" %>
            <% end %>

            <li class="divider"></li>

            <li>
              <%= link_to destroy_admin_user_session_url(protocol: http_protocol),
                    title: 'Logout',
                    method: :delete do
              %>
                <i class="icon-off"></i>
                Sign out
              <% end %>
            </li>

          <% elsif current_user %>

            <li>
              <%= link_to edit_user_registration_url(protocol: http_protocol),
                  title: "Edit My Profile" do 
              %>
                <i class="icon-user"></i>
                Edit Profile
              <% end %>
            </li>

            <li>
              <%= link_to "My Articles", author_path(current_user), title: "My Articles Page" %>
            </li>
            
            <% if current_user.has_any_role?(:admin,:security) %>
              <li class="divider"></li>
              <%= render partial: "/shared/system_menu" %>
            <% end %>
            
            <li class="divider"></li>
            
            <li>
              <%= link_to destroy_user_session_url(protocol: http_protocol),
                    method: :delete,
                    title: 'Logout' do
              %>
                <i class="icon-off"></i>
                Sign out
              <% end %>
            </li>
          <% else %>
            <li><%= login_link 'Sign in' %></li>
            <%- if Devise.mappings[:user].registerable?  %>
              <li>
                <%= link_to "Sign up",new_registration_url(:user, protocol: http_protocol), title: "Sign up" %>
              </li>
            <% end -%>
            <%- if Devise.mappings[:user].recoverable? && controller_name != 'passwords' %>
              <li><%= link_to "Forgot your password?", new_password_url(:user, protocol: http_protocol) %></li>
            <% end -%>
            <%- if Devise.mappings[:user].confirmable? && controller_name != 'confirmations' %>
              <li>
                <%= link_to "Didn't receive confirmation instructions?", new_confirmation_url(:user, protocol: http_protocol) %>
              </li>
            <% end -%>
          <% end %>
        </ul>
      </div>

    </div>
  </div>
</div>
<!-- </header> -->