<div class="sidebar">
  <div class="well">
    <% if current_admin_user %>
      <h5>My Account</h5>
      <ul>
        <li><%= link_to "Edit Profile", edit_admin_user_registration_url(:protocol => 'https') %></li>
        <li><%= link_to 'Sign out', destroy_admin_user_session_url(:protocol => 'https'), :method => :delete %></li>
      </ul>
    <% elsif current_user %>
      <h5>My Account</h5>
      <ul>
        <li><%= link_to "Edit Profile", edit_user_registration_url(:protocol => 'https') %></li>
        <li><%= link_to 'Sign out', destroy_user_session_url(:protocol => 'https'), :method => :delete %></li>
      </ul>
    <% else %>
      <h5>Account</h5>
      <ul>
        <%- if controller_name != 'sessions' %>
          <li><%= link_to "Sign in", new_session_url(resource_name, :protocol => "https") %></li>
        <% end -%>

        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <li><%= link_to "Sign up", new_registration_url(resource_name, :protocol => "https") %></li>
        <% end -%>
      </ul>
      
      <h5>Account Recovery</h5>
      <ul>
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
          <li><%= link_to "Forgot your password?", new_password_url(resource_name, :protocol => "https") %></li>
        <% end -%>

        <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
          <li><%= link_to "Didn't receive confirmation instructions?", new_confirmation_url(resource_name, :protocol => "https") %></li>
        <% end -%>

        <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
          <li><%= link_to "Didn't receive unlock instructions?", new_unlock_url(resource_name, :protocol => 'https') %></li>
        <% end -%>

        <%- if devise_mapping.omniauthable? %>
          <%- resource_class.omniauth_providers.each do |provider| %>
            <li><%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %></li>
          <% end -%>
        <% end -%>
      </ul>
    <% end %>
    <h5>Useful Pages</h5>
    <ul>
      <% Page.order("priority ASC").all.each do |page| %>
        <li><%= link_to page.title, page %></li>
      <% end %>
    </ul>
  </div>
</div>
