<div class="sidebar">

  <div class="well">
    <%= flattr_medium %>
    <%= rss_medium %>
    <%= twitter_medium %>
    <%= google_plus_medium %>
  </div>

  <div class="well">
    <%= form_tag(search_path, method: :get, class: 'search') do |f| %>
      <%= text_field_tag :q, 
            params[:q], 
            type: "search", 
            class: "span3",
            placeholder: "Search Articles",
            autofocus: false
      %>
      <button class="btn" type="submit">Search</button>
    <% end %>
    
    <div class="sidebar_secions">
      <% if @search && @search.total > 0 %>
        <div class='widget'>
          <div class='widget_content'>
            <ul class="nav nav-list">
              <li class="horizontal-divider"></li>
              <li class="nav-header">Search by Category</li>
              <% @search.facet(:category_id).rows.each do |facet| %>
                <% category = Category.find(facet.value) %>
                <li>
                  <%= link_to("#{category.title} (#{facet.count})", params.merge(category_id: category.id, page: nil)) if category %>
                  <%= link_to("Remove", params.merge(category_id: nil), class: 'link-remove') if params[:category_id] %>
                </li>
              <% end %>
            </ul>
          </div>
          <div class='widget_content'>
            <ul class="nav nav-list">
              <li class="horizontal-divider"></li>
              <li class="nav-header">Search by Language</li>
              <% @site_languages.each do |language| %>
                <li>
                  <%= link_to(language.description, params.merge(language_id: language.id, page: nil)) %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <br />
      <% end %>
    </div>

    <% if account_sidebar? %>
      <div class='sidebar_secions'>
        <ul class="nav nav-list">
          <li class="horizontal-divider"></li>
          <% if current_user %>
            <li>
              <%= link_to "Edit Profile", edit_user_registration_url(protocol: 'https') %>
            </li>
            <li>
              <%= link_to "My Articles", author_path(current_user), title: "My Articles Page" %>
            </li>
            <li>
              <%= link_to 'Sign out', destroy_user_session_url(protocol: 'https'), method: :delete %>
            </li>
          <% elsif current_admin_user %>
            <li>
              <%= link_to "Edit Profile", edit_user_registration_url(protocol: 'https') %>
            </li>
            <li>
              <%= link_to "My Articles", author_path(current_admin_user), title: "My Articles Page" %>
            </li>
            <li>
              <%= link_to 'Sign out', destroy_user_session_url(protocol: 'https'), method: :delete %>
            </li>
          <% else %>
            <%- if controller_name != 'sessions' %>
              <li><%= link_to "Sign in", new_session_url(resource_name, protocol: "https") %></li>
            <% end -%>
            <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
              <li><%= link_to "Sign up", new_registration_url(resource_name, protocol: "https") %></li>
            <% end -%>
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
              <li>
                <%= link_to "Forgot password?", new_password_url(resource_name, protocol: "https") %>
              </li>
            <% end -%>
            <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
              <li>
                <%= link_to "Didn't receive confirmation instructions?", new_confirmation_url(resource_name, protocol: "https") %>
              </li>
            <% end -%>
            <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
              <li>
                <%= link_to "Didn't receive unlock?", new_unlock_url(resource_name, protocol: 'https') %>
              </li>
            <% end -%>
            <%- if devise_mapping.omniauthable? %>
              <%- resource_class.omniauth_providers.each do |provider| %>
                <li><%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %></li>
              <% end -%>
            <% end -%>
          <% end -%>
        </ul>
      </div>
    <% end %>

    <div class="sidebar_secions">
      <ul class="nav nav-list">
        <li class="horizontal-divider"></li>
        <% @site_categories.each do |category| %>
          <li class=<%= li_class(category.to_param, :id, "active") %>>
            <%= link_to category.title, category, title:  category.description %>
          </li>
        <% end %>
        <li class="horizontal-divider"></li>
      </ul>
      <ul class="nav nav-list">
        <% @site_pages.each do |page| %>
          <li class=<%= li_class(page.to_param, :id, "active") %>>
            <%= link_to page.title, page, title:  page.title %>
          </li>
        <% end %>
        <li class="horizontal-divider"></li>
      </ul>
      <ul class="nav nav-list">
        <% @site_languages.each do |language|%>
          <li class=<%= li_class_subdomain(language.locale, "active") %>>
            <%= link_to url_for(localized_subdomain(language.locale)), title: language.description do %>
              <%= image_tag "blank.gif", class: "flag flag-#{language.flag_code}", alt: language.description %>
              <%= language.description %>
            <% end %>
          </li>
        <% end %>
        <li class="horizontal-divider"></li>
      </ul>
    </div>

    <% cache_expiring("sidebar_recently", 600) do %>
      <div class="sidebar_secions">
        <h4>Recently Discussed</h4>
        <% Item.recently_commented(5).each do |item| %>
          <div class="sidebar-item">
            <%= item_mini(item).html_safe %>
            <span class="comment-date">
              <i class="icon-comments"></i>
              <%= t("comments", count: item.comments_count) %>
            </span>
            <span class="horizontal-divider"></span>
          </div>
        <% end %>
      </div>
    <% end %>

    <% cache_expiring("sidebar_most_read", 900) do %>
      <div class="sidebar_secions">
        <h4>Most Read in 2 weeks</h4>
        <% Item.popular(5).each do |item| %>
          <div class="sidebar-item">
            <%= item_mini(item).html_safe %>
            <span class="horizontal-divider"></span>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="hidden-phone">
      <%= image_tag "adfreesite.png",
            alt: "AdFree Site",
            title:  "This is an Advertisement Free Site",
            width: 100, height: 60
      %>
    </div>
  </div>
</div>