<div class="sidebar">

  <div class="well">
    <%= link_to(image_tag("icons/social/rss_32.png", width: 32, height: 32),
          feed_path,
          title:  "Multiple RSS Feeds")
    %>
    <%= link_to(image_tag("icons/social/twitter_32.png", width: 32, height: 32),
          twitter_link, title:  "Visit our Twitter")
    %>
    <%= render partial: "/shared/flattr_js" %>
    <%= flattr_medium %>
  </div>

  <div class="well">
    <%= form_tag(search_path, method: :get, class: "clearfix") do |f| %>
      <%= text_field_tag :q, 
            params[:q], 
            type: "search", 
            class: "span3",
            placeholder: "Search Articles",
            autofocus: true
      %>
      <button class="btn primary" type="submit">Search</button>
    <% end %>
    
    <div class="sidebar_secions">
      <% if @search && @search.total > 0 %>
        <div class='widget'>
          <div class='widget_content'>
            <ul class="nav nav-list">
              <li class="horizontal-divider"></li>
              <li class="nav-header">Filter by Category</li>
              <% @search.facet(:category_id).rows.each do |facet| %>
                <% category = Category.find(facet.value) %>
                <li>
                  <%= link_to("#{category.title} (#{facet.count})", params.merge(category_id: category.id)) if category %>
                </li>
              <% end %>
            </ul>
          </div>
          <div class='widget_content'>
            <ul class="nav nav-list">
              <li class="horizontal-divider"></li>
              <li class="nav-header">Filter by Language</li>
              <% @search.facet(:language_id).rows.each do |facet| %>
                <% if language = Language.find(facet.value) %>
                  <li>
                    <%= link_to("#{language.description} (#{facet.count})", params.merge(language_id: language.id)) %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
        <br />
      <% end %>
    </div>

    <% if account_sidebar? %>
      <div class='sidebar_secions'>
        <ul class="nav nav-list">
          <li class="horizontal-divider"></li>
          <% if current_user %>
            <li>
              <%= link_to "Edit Profile", edit_user_registration_url(protocol: 'https') %>
            </li>
            <li>
              <%= link_to "My Articles", author_path(current_user), title: "My Articles Page" %>
            </li>
            <li>
              <%= link_to 'Sign out', destroy_user_session_url(protocol: 'https'), method: :delete %>
            </li>
          <% elsif current_admin_user %>
            <li>
              <%= link_to "Edit Profile", edit_user_registration_url(protocol: 'https') %>
            </li>
            <li>
              <%= link_to "My Articles", author_path(current_admin_user), title: "My Articles Page" %>
            </li>
            <li>
              <%= link_to 'Sign out', destroy_user_session_url(protocol: 'https'), method: :delete %>
            </li>
          <% else %>
            <%- if controller_name != 'sessions' %>
              <li><%= link_to "Sign in", new_session_url(resource_name, protocol: "https") %></li>
            <% end -%>
            <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
              <li><%= link_to "Sign up", new_registration_url(resource_name, protocol: "https") %></li>
            <% end -%>
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
              <li>
                <%= link_to "Forgot password?", new_password_url(resource_name, protocol: "https") %>
              </li>
            <% end -%>
            <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
              <li>
                <%= link_to "Didn't receive confirmation instructions?", new_confirmation_url(resource_name, protocol: "https") %>
              </li>
            <% end -%>
            <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
              <li>
                <%= link_to "Didn't receive unlock?", new_unlock_url(resource_name, protocol: 'https') %>
              </li>
            <% end -%>
            <%- if devise_mapping.omniauthable? %>
              <%- resource_class.omniauth_providers.each do |provider| %>
                <li><%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %></li>
              <% end -%>
            <% end -%>
          <% end -%>
        </ul>
      </div>
    <% end %>


    <% cache_expiring("sidebar", 300) do %>

      <div class="sidebar_secions">
        <ul class="nav nav-list">
          <li class="horizontal-divider"></li>
          <% Category.order("priority ASC").each do |category| %>
            <li class=<%= li_class(category.to_param, :id, "active") %>>
              <%= link_to category.title, category, title:  category.description %>
            </li>
          <% end %>
          <li class="horizontal-divider"></li>
        </ul>
        <ul class="nav nav-list">
          <% Page.order("priority ASC").each do |page| %>
            <li class=<%= li_class(page.to_param, :id, "active") %>>
              <%= link_to page.title, page, title:  page.title %>
            </li>
          <% end %>
          <li class="horizontal-divider"></li>
        </ul>
      </div>

      <div class="sidebar_secions">
        <h4>Most Read</h4>
        <% Item.popular(5).each do |item| %>
          <div class="sidebar-item">
            <%= item_mini(item).html_safe %>
            <span class="horizontal-divider"></span>
          </div>
        <% end %>
      </div>

      <div class="sidebar_secions">
        <h4>Recently Commented</h4>
        <% Item.recently_commented(5).each do |item| %>
          <div class="sidebar-item">
            <%= item_mini(item).html_safe %>
            <span class="comment-date">
              <i class="icon-comments"></i>
              <%= pluralize(item.comments_count, "comment") %>
            </span>
            <span class="horizontal-divider"></span>
          </div>
        <% end %>
      </div>

      <div class="sidebar_secions">
        <h4>Most Commented</h4>
        <% Item.most_commented(4).each do |item| %>
          <div class="sidebar-item">
            <%= item_mini(item).html_safe %>
            <span class="comment-date">
              <i class="icon-comments"></i>
              <%= pluralize(item.comments_count, "comment") %>
            </span>
            <span class="horizontal-divider"></span>
          </div>
        <% end %>
      </div>

      <div class="sidebar_secions">
        <h4>Top Users</h4>
        <% User.popular(4).each do |user| %>
          <div class="sidebar-item">
            <%= mini_user(user).html_safe %>
            <span class="horizontal-divider"></span>
          </div>
        <% end %>
      </div>
  
    <% end %>

    <%= image_tag "adfreesite.png",
          alt: "AdFree Site",
          title:  "This is an Advertisement Free Site",
          width: 100, height: 60
    %>
  </div>
</div>