<div class="sidebar">
  <div class="well">
    <%= link_to(image_tag("icons/social/rss_32.png", width: 32, height: 32),
          feed_path,
          title:  "Multiple RSS Feeds")
    %>
    <%= link_to(image_tag("icons/social/twitter_32.png", width: 32, height: 32),
          twitter_link, title:  "Visit our Twitter")
    %>
    <%= render partial: "/shared/flattr_js" %>
    <%= flattr_medium %>
  </div>
  <div class="well">
    <%= form_tag(search_path, method: :get, class: "clearfix") do |f| %>
      <%= text_field_tag :q, 
            params[:q], 
            type: "search", 
            class: "span3",
            placeholder: "Search Articles",
            autofocus: true
      %>
      <button class="btn primary" type="submit">Search</button>
    <% end %>
    
    <div class="sidebar_secions">
      <% if @search && @search.total > 0 %>
        <div class='widget'>
          <h5>Filter by Category</h5>
          <div class='widget_content'>
            <ul>
              <% @search.facet(:category_id).rows.each do |facet| %>
                <% category = Category.find(facet.value) %>
                <li>
                  <%= link_to("#{category.title} (#{facet.count})", params.merge(category_id: category.id)) if category %>
                </li>
              <% end %>
            </ul>
          </div>
          <h5>Filter by Language</h5>
          <div class='widget_content'>
            <ul>
              <% @search.facet(:language_id).rows.each do |facet| %>
                <% if language = Language.find(facet.value) %>
                  <li>
                    <%= link_to("#{language.description} (#{facet.count})", params.merge(language_id: language.id)) %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </div>

    <% cache_expiring("sidebar") do %>
      <div class="sidebar_secions">
        <h4>Sections</h4>
        <ul>
          <% Category.order("title ASC").all.each do |category| %>
            <li><%= link_to category.title, category, title:  category.description %></li>
          <% end %>
        </ul>
        <h4>Useful Pages</h4>
        <ul>
          <% Page.order("priority ASC").all.each do |page| %>
            <li><%= link_to page.title, page, title:  page.title %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% cache_expiring("sidebar_popular", 600) do %>
      <div class="sidebar_secions">
        <h4>Most Popular</h4>
        <% Item.popular(5).each do |item| %>
          <div class="sidebar-item">
            <%= item_mini(item).html_safe %>
          </div>
        <% end %>
      </div>
    <% end %>

    <% cache_expiring("sidebar_comments", 300) do %>
      <div class="sidebar_secions">
        <h4>Recent Comments</h4>
        <% Comment.recent(7).each do |comment| %>
          <div class="sidebar-comment">
            <span class="comment-author">
              
            </span>
            <span class="comment-body">
              <%= link_to comment.body.truncate(60), item_path(comment.commentable), title: comment.body, id: 'tooltip' %>
            </span>
            <span class="comment-date">
              <%= time_ago_in_words(comment.created_at) %> ago 
              by <%= link_to comment.name, author_path(comment.owner.id) %>
            </span>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= image_tag "adfreesite.png",
          alt: "AdFree Site",
          title:  "This is an Advertisement Free Site",
          width: 100, height: 60
    %>
  </div>
</div>