<!-- Topbar
================================================== -->
<div class="topbar" data-scrollspy="scrollspy" >
  <div class="topbar-inner">
    <div class="container-fluid">
      <a class="brand" href="/">Publication System</a>
      <ul class="nav">
        
        <li id="home_link"><%= link_to "Home", root_path %></li>
        
        <li class="dropdown" data-dropdown="dropdown">
          <a href="#" class="dropdown-toggle">Sections</a>
          <ul class="dropdown-menu">
            <% Category.order("title ASC").all.each do |category|%>
              <li><%= link_to category.title, category %></li>
            <% end %>
          </ul>
        </li>
        
        <li class="dropdown" data-dropdown="dropdown">
          <a href="#" class="dropdown-toggle">Regions</a>
          <ul class="dropdown-menu">
            <% RegionTag.order("title ASC").all.each do |tag|%>
              <li><%= link_to tag.title, tag_path(tag) %></li>
            <% end %>
          </ul>
        </li>
        
        <li class="dropdown" data-dropdown="dropdown">
          <a href="#" class="dropdown-toggle">Languages</a>
          <ul class="dropdown-menu">
            <% Language.order("locale ASC").all.each do |language|%>
              <li><%= link_to language.description, language %></li>
            <% end %>
          </ul>
        </li>
        
        <li class="dropdown" data-dropdown="dropdown">
          <a href="#" class="dropdown-toggle">Account</a>
          <ul class="dropdown-menu">
            <% if current_user %>
              <li><%= link_to "Profile", edit_user_registration_path %></li>
              <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
            <% elsif current_admin_user %>
              <li><%= link_to "Admin", admin_dashboard_path %></li>
              <li><%= link_to "Profile", edit_admin_user_registration_path %></li>
              <li><%= link_to 'Sign out', destroy_admin_user_session_path, :method => :delete %></li>
            <% else %>
              <li><%= link_to "Sign in", new_session_path(:user) %></li>
              <%- if Devise.mappings[:user].registerable?  %>
                <li><%= link_to "Sign up", new_registration_path(:user) %></li>
              <% end -%>
              <%- if Devise.mappings[:user].recoverable? && controller_name != 'passwords' %>
                <li><%= link_to "Forgot your password?", new_password_path(:user) %></li>
              <% end -%>
              <%- if Devise.mappings[:user].confirmable? && controller_name != 'confirmations' %>
                <li><%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(:user) %></li>
              <% end -%>
            <% end %>
          </ul>
        </li>
      </ul>
    
      <% if user_signed_in? %>
        <p class="pull-right"><%= link_to current_user.title, edit_user_registration_path %></p>
      <% elsif admin_user_signed_in? %>
        <p class="pull-right"><%= link_to current_admin_user.title, edit_admin_user_registration_path %></p>
      <% else %>
        <p class="pull-right"><%= link_to "Sign in", new_session_path(:user) %></p>
      <% end %>
    </div>
  </div>
</div>
<!-- </header> -->