<%= semantic_form_for [:admin, @admin_user], :html => { :enctype => "multipart/form-data" }  do |f| %>

  <%= f.inputs :login => "Login Information" do %>
    <%= f.input :email, required: true, hint: "Required: Valid Email address"%>
    <% if f.object.new_record? %>
      <%= f.input :password, required: true, hint: "New Password" %>
      <%= f.input :password_confirmation, required: true, hint: "Confirm New Password" %>
    <% end %>
  <% end %>
  
  <%= f.inputs name: "User Information" do %>
    <%= f.input :name, hint: "Recommended: Full Name"%>
    <%= f.input :address, hint: "Optional: Address"%>
    <%= f.input :skype, hint: "Optional: Skype ID"%>
    <%= f.input :twitter, hint: "Optional: Twitter username"%>
    <%= f.input :diaspora, hint: "Optional: Diaspora Handle"%>
    <%= f.input :jabber, hint: "Optional: Jabber address"%>
    <%= f.input :time_zone, hint: "Recommended: Select Time Zone for system dates."%>
    <% if !f.object.new_record? && f.object.type == "AdminUser" %>
      <%= f.input :downgrade, as: :boolean,
          hint: "Downgrade this AdminUser to Normal User?"
      %>
    <% elsif !f.object.new_record? && f.object.type != "AdminUser" %>
      <%= f.input :upgrade, label: "Upgrade", as: :boolean,
            hint: "Upgrade this User to AdminUser?"
      %>
    <% end %>
    </br />
  <% end %>
  
  <%= f.inputs :role => "Roles" do %>
    <div class="medium_box">
      <%= f.input :roles, as: :check_boxes, :member_label => 'title' , :member_value => :id %>
    </div>
  <% end %>
  
  <%= f.actions do %>
    <%= f.action :submit, :button_html => { class: "primary", disable_with: 'Wait...' } %>
  <% end %>
<% end %>
