<footer>
  
  <% cache_expiring("footer/top", 1.hour) do %>
    <ul class="footer_menu footer_categories">
      <% @site_categories.each do |category| %>
        <li>
          <%= link_to category.title, category, title:  category.description %>
        </li>
      <% end %>
    </ul>

    <ul class="footer_menu">
      <% @site_pages.each do |page| %>
        <li><%= link_to page.title, page, title: page.title %></li>
      <% end %>

      <li>
        <%= link_to _("Feeds"), feed_path, title: _("Multiple RSS Feeds") %>
      </li>
    </ul>
  <% end %>

  <ul class="footer_menu">
    <% if current_user or current_admin_user %>
      <li>
        <%= link_to _("Edit Profile"),
              edit_user_registration_url(protocol: http_protocol),
              title: _("Edit your Profile information")
        %>
      </li>
      <li>
        <%= link_to _('Logout'),
              destroy_user_session_url(protocol: http_protocol),
              method: :delete, title: _("Logout")
        %>
      </li>
    <% else %>
      <li>
        <%= login_link _('Login') %>
      </li>
      <%- if Devise.mappings[:user].registerable?  %>
        <li>
          <%= link_to _("Registration"),
                new_registration_url(:user, protocol: http_protocol),
                title: _("Please Join us")
          %>
        </li>
      <% end %>
      <%- if Devise.mappings[:user].recoverable? && controller_name != 'passwords' %>
        <li>
          <%= link_to _("Forgot password?"),
                new_password_url(:user, protocol: http_protocol), 
                title: _("Click here to recover your password.")
          %>
        </li>
      <% end %>
    <% end %>
  </ul>

  <p class="footer_logo">
    World Mathaba
  </p>
  <p class="render_time">
    Page Rendered in <strong><%= sprintf('%.3f', (Time.now.usec - @start_time).abs / 1000000.0) %></strong> seconds
  </p>
  <p class="render_time">
    <%= link_to 'Source code under GPLv3', "https://github.com/fred/mnn", title: 'License and Source Code', rel: 'license' %>
  </p>
</footer>