<!-- Topbar
================================================== -->
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <% cache_expiring("navbar") do %>
        <%= link_to(image_tag("world_mathaba.png",
                    width: '200',
                    height: '33',
                    class: 'brand',
                    title: 'World Mathaba Independent News Agency',
                    alt: 'World Mathaba'
                  ),
              root_path,
              title: 'World Mathaba Independent News Agency',
              rel: 'home'
            )
        %>
        <ul class="nav hidden-old-phone">
          <li id="home_link">
            <%= link_to "Home", root_path, title: 'World Mathaba Independent News Agency', rel: 'home' %>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= _("Sections") %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% @site_categories.each do |category|%>
                <li><%= link_to category.title, category, title: category.title %></li>
              <% end %>
            </ul>
          </li>
          <li class="dropdown hidden-phone" data-dropdown="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= _("Regions") %> <b class="caret"></b></a>
            <ul class="dropdown-menu hidden-phone">
              <% @site_region_tags.each do |tag|%>
                <li><%= link_to tag.title, tag_path(tag), title: tag.title %></li>
              <% end %>
            </ul>
          </li>
          <li class="dropdown hidden-phone hidden-tablet" data-dropdown="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= _("Countries") %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% @site_country_tags.each do |tag| %>
                <li><%= link_to tag.title, tag_path(tag), title: tag.title %></li>
              <% end %>
            </ul>
          </li>
          <li class="dropdown hidden-phone hidden-tablet" data-dropdown="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= _("Tags") %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% @site_general_tags.each do |tag| %>
                <li>
                  <%= link_to tag.title, tag_path(tag), title: tag.title %>
                </li>
              <% end %>
            </ul>
          </li>
          <li class="dropdown" data-dropdown="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= _("Languages") %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% @site_languages.each do |language|%>
                <li>
                  <%= link_to url_for(localized_subdomain(language.locale)), title: language.description do %>
                    <%= image_tag "blank.gif", class: "flag flag-#{language.flag_code}", alt: language.description %>
                    <%= language.description %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
          <li class="dropdown hidden-phone" data-dropdown="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Links <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% @site_links.each do |link| %>
                <li>
                  <%= link_to(link.title, link.url, target: 'blank', title: link.link_title, rel: link.rel) %>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
      <% end %>


    <% cache_expiring(cache_key_for_user('navbar')) do %>

      <div class="btn-group pull-right hidden-old-phone hidden-phone">
        
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-user"></i>
          <% if current_user %>
            <%= current_user.title %>
          <% elsif current_admin_user %>
            <%= current_admin_user.title %>
          <% else %>
            <%= _("Account") %>
          <% end %>
          <span class="caret"></span>
        </a>

        <ul class="dropdown-menu">

          <% if current_admin_user %>

            <li>
              <%= link_to edit_user_registration_url(protocol: http_protocol), title: _("Edit My Profile") do %>
                <i class="icon-user"></i>
                <%= _("Edit Profile") %>
              <% end %>
            </li>

            <li>
              <%= link_to author_path(current_admin_user), title: _("My Articles Page") do %>
                <i class="icon-list"></i>
                <%= _("My Articles") %>
              <% end %>
            </li>

            <li>
              <%= link_to subscriptions_path, title: _("My Subscriptions") do %>
                <i class="icon-envelope"></i>
                <%= _("My Subscriptions") %>
              <% end %>
            </li>
            
            <li class="divider"></li>
            
            <li>
              <%= link_to admin_dashboard_url(protocol: http_protocol) do %>
                <i class="icon-briefcase"></i>
                <%= _("Admin") %>
              <% end %>
            </li>

            <% if current_ability.can?(:create, Item) %>
              <li>
                <%= link_to new_admin_item_path(protocol: http_protocol) do %>
                  <i class="icon-pencil"></i>
                  <%= _("Submit Article") %>
                <% end %>
              </li>
            <% end %>

            <% if current_admin_user.has_any_role?(:admin,:security) %>
              <li class="divider"></li>
              <%= render partial: "/shared/system_menu" %>
            <% end %>

            <li class="divider"></li>

            <li>
              <%= link_to destroy_admin_user_session_url(protocol: http_protocol),
                    title: _('Logout'),
                    method: :delete do
              %>
                <i class="icon-off"></i>
                <%= _("Sign out") %>
              <% end %>
            </li>

          <% elsif current_user %>

            <li>
              <%= link_to edit_user_registration_url(protocol: http_protocol),
                  title: _("Edit My Profile") do 
              %>
                <i class="icon-user"></i>
                <%= _("Edit Profile") %>
              <% end %>
            </li>

            <% if current_ability.can?(:create, Item) %>
              <li>
                <%= link_to new_admin_item_path(protocol: http_protocol) do %>
                  <i class="icon-pencil"></i>
                  <%= _("Submit Article") %>
                <% end %>
              </li>
            <% end %>

            <li>
              <%= link_to author_path(current_user), title: _("My Articles Page") do %>
                <i class="icon-list"></i>
                <%= _("My Articles") %>
              <% end %>
            </li>

            <li>
              <%= link_to subscriptions_path, title: _("My Subscriptions") do %>
                <i class="icon-envelope"></i>
                <%= _("My Subscriptions") %>
              <% end %>
            </li>
            
            <% if current_user.has_any_role?(:admin,:security) %>
              <li class="divider"></li>
              <%= render partial: "/shared/system_menu" %>
            <% end %>
            
            <li class="divider"></li>
            
            <li>
              <%= link_to destroy_user_session_url(protocol: http_protocol),
                    method: :delete,
                    title: _('Logout') do
              %>
                <i class="icon-off"></i>
                <%= _("Sign out") %>
              <% end %>
            </li>
          <% else %>
            <li><%= login_link _('Sign in') %></li>
            <%- if Devise.mappings[:user].registerable?  %>
              <li>
                <%= link_to _("Sign up"), new_registration_url(:user, protocol: http_protocol), title: _("Register a new Account") %>
              </li>
            <% end -%>
            <%- if Devise.mappings[:user].recoverable? && controller_name != 'passwords' %>
              <li><%= link_to _("Forgot password?"), new_password_url(:user, protocol: http_protocol) %></li>
            <% end -%>
            <%- if Devise.mappings[:user].confirmable? && controller_name != 'confirmations' %>
              <li>
                <%= link_to _("Didn't receive confirmation instructions?"), new_confirmation_url(:user, protocol: http_protocol) %>
              </li>
            <% end -%>
          <% end %>
        </ul>
      </div>

    <% end %>

    </div>
  </div>
</div>
<!-- </header> -->