<div class="sidebar">

  <div class="well social">
    <%= flattr_medium %>
    <%= rss_medium %>
    <%= google_plus_new %>
    <%= twitter_medium %>
    <%= facebook_medium %>
  </div>

  <% if is_handheld? %>
    <div class="well social hidden-desktop visible-tablet visible-phone">
      <% if current_user %>
        <%= link_to t("Edit Profile"),
              edit_user_registration_url(protocol: http_protocol),
              title: _("Edit My Profile"),
              class: "btn"
        %>
        <%= link_to _("My Articles"),
              author_path(current_user),
              title: _("My Articles Page"),
              class: 'btn'
        %>
      <% else %>
        <%= link_to _('Sign in'),
              new_session_url(:user, protocol: http_protocol),
              title: _('Sign in'),
              class: 'btn'
        %>
        <%- if Devise.mappings[:user].registerable?  %>
          <%= link_to _("Register"),
                new_registration_url(:user, protocol: http_protocol),
                title: _("Register a new Account"),
                class: 'btn'
          %>
        <% end -%>
      <% end %>
    </div>
  <% end %>

  <div class="well">
    <%= form_tag(search_path, method: :get, class: 'search-form') do |f| %>
      <%= text_field_tag :q, 
            params[:q], 
            type: "search", 
            class: "span3 search-query",
            placeholder: _("Search Articles"),
            autofocus: false
      %>
      <button class="btn search" type="submit"><%= _("Search") %></button>
    <% end %>

    <div class="sidebar_secions">
      <% if @search && @search.total > 0 %>
        <div class='widget'>
          <div class='widget_content'>
            <ul class="nav nav-list">
              <li class="horizontal-divider"></li>
              <li class="nav-header"><%= _("Search by Category") %></li>
              <% @search.facet(:category_id).rows.each do |facet| %>
                <% category = Category.find(facet.value) %>
                <li>
                  <%= link_to("#{category.title} (#{facet.count})", params.merge(category_id: category.id, page: nil)) if category %>
                  <%= link_to(_("Remove"), params.merge(category_id: nil), class: 'link-remove') if params[:category_id] %>
                </li>
              <% end %>
            </ul>
          </div>
          <div class='widget_content'>
            <ul class="nav nav-list">
              <li class="horizontal-divider"></li>
              <li class="nav-header"><%= _("Search by Language") %></li>
              <% @site_languages.each do |language| %>
                <li>
                  <%= link_to(language.description, params.merge(language_id: language.id, page: nil)) %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <br />
      <% end %>
    </div>

    <% if account_sidebar? %>
      <div class='sidebar_secions'>
        <ul class="nav nav-list">
          <li class="horizontal-divider"></li>
          <% if current_user %>
            <li>
              <%= link_to _("Edit Profile"), edit_user_registration_url(protocol: 'https') %>
            </li>
            <li>
              <%= link_to _("My Articles"), author_path(current_user), title: "My Articles Page" %>
            </li>
            <li>
              <%= link_to _('Sign out'), destroy_user_session_url(protocol: 'https'), method: :delete %>
            </li>
          <% elsif current_admin_user %>
            <li>
              <%= link_to _("Edit Profile"), edit_user_registration_url(protocol: 'https') %>
            </li>
            <li>
              <%= link_to _("My Articles"), author_path(current_admin_user), title: _("My Articles Page") %>
            </li>
            <li>
              <%= link_to _('Sign out'), destroy_user_session_url(protocol: 'https'), method: :delete %>
            </li>
          <% else %>
            <%- if controller_name != 'sessions' %>
              <li><%= link_to _("Sign in"), new_session_url(resource_name, protocol: "https") %></li>
            <% end -%>
            <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
              <li><%= link_to _("Sign up"), new_registration_url(resource_name, protocol: "https") %></li>
            <% end -%>
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
              <li>
                <%= link_to _("Forgot Password?"), new_password_url(resource_name, protocol: "https") %>
              </li>
            <% end -%>
            <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
              <li>
                <%= link_to _("Didn't receive confirmation instructions?"), new_confirmation_url(resource_name, protocol: "https") %>
              </li>
            <% end -%>
            <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
              <li>
                <%= link_to _("Didn't receive unlock?"), new_unlock_url(resource_name, protocol: 'https') %>
              </li>
            <% end -%>
            <%- if devise_mapping.omniauthable? %>
              <%- resource_class.omniauth_providers.each do |provider| %>
                <li><%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %></li>
              <% end -%>
            <% end -%>
          <% end -%>
        </ul>
      </div>
    <% end %>


    <% cache_expiring(sidebar_cache_key, 8.hours) do %>
      <div class="sidebar_secions">
        <ul class="nav nav-list">
          <li class="horizontal-divider"></li>
          <% @site_categories.each do |category| %>
            <li class="<%= li_class(category.to_param, :id, 'active') %>">
              <%= link_to category.title, category, title:  category.description %>
            </li>
          <% end %>
          <li class="horizontal-divider"></li>
        </ul>
        <ul class="nav nav-list">
          <% @site_pages.each do |page| %>
            <li class="<%= li_class(page.to_param, :id, 'active') %>">
              <%= link_to page.title, page, title:  page.title %>
            </li>
          <% end %>
          <% @private_pages.each do |page| %>
            <li class="<%= li_class(page.to_param, :id, 'active') %>">
              <%= link_to page.title, page, title:  page.title %>
            </li>
          <% end %>
          <li><%= link_to "Other Sites", links_path %></li>
          <li class="horizontal-divider"></li>
        </ul>
        <h4><%= _("Languages") %></h4>
        <ul class="nav nav-list">
          <% @site_languages.each do |language|%>
            <li class="<%= li_class_subdomain(language.locale, 'active') %>">
              <%= link_to url_for(localized_subdomain(language.locale)), title: language.description do %>
                <%= image_tag "blank.gif", class: "flag flag-#{language.flag_code}", alt: language.description %>
                <%= language.description %>
              <% end %>
            </li>
          <% end %>
          <li class="horizontal-divider"></li>
        </ul>
      </div>
    <% end %>

    <% cache_expiring("sidebar_comment/#{Comment.last_cache_key}", 7200) do %>
      <div class="sidebar_secions">
        <h4><%= _("Recently Discussed") %></h4>
        <% Item.localized.recently_commented(5).each do |item| %>
          <div class="sidebar-item">
            <%= item_mini(item).html_safe %>
            <span class="comment-date">
              <i class="icon-comments"></i>
              <%= item.comments_count %>
              <%= n_("Comment", "Comments", item.comments_count) %>
            </span>
            <span class="horizontal-divider"></span>
          </div>
        <% end %>
      </div>
    <% end %>

    <% cache_expiring("sidebar_popular", 1800) do %>
      <div class="sidebar_secions">
        <h4><%= _("Most read this month") %></h4>
        <% Item.localized.popular(5).each do |item| %>
          <div class="sidebar-item">
            <%= item_mini(item).html_safe %>
            <span class="horizontal-divider"></span>
          </div>
        <% end %>
      </div>
    <% end %>

    <% cache_expiring("sidebar_searches", 1800) do %>
      <div class="sidebar_secions">
        <h4><%= _("Popular Searches") %></h4>
        <% Query.popular(FastGettext.locale).limit(10).each do |query| %>
          <ul class="nav nav-list">
            <li><%= link_to query.keyword.to_s.truncate(24), search_path(q: query.keyword) %></li>
          </ul>
        <% end %>
        <span class="horizontal-divider"></span>
      </div>
      <div class="hidden-phone">
        <%= image_tag "adfreesite.png",
              alt: _("AdFree Site"),
              title:  _("This is an Advertisement Free Site"),
              width: 100, height: 60
        %>
      </div>
    <% end %>

  </div>
</div>
