<% cache_expiring("aa/db_stats", 30.minutes) do %>

  <div class="row">

    <div class="dashboard_section panel span6">
      <h3>Largest Tables (Top 15)</h3>
      <div class="panel_contents">
        <table border="0" cellspacing="0" cellpadding="0">
          <thead>
            <tr>
              <th>Table</th>
              <th>Size</th>
            </tr>
          </thead>
          <tbody>
            <% DbStats.biggest_relations(15).to_set.each do |t| %>
              <tr>
                <td><%= t["relation"].to_s.gsub(/^public\./,"") %></td>
                <td><%= t["total_size"].to_s %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="dashboard_section panel span6">
      <h3>Index Status (Top 15)</h3>
      <div class="panel_contents">
        <table border="0" cellspacing="0" cellpadding="0">
          <thead>
            <tr>
              <th>Table</th>
              <th>Index Used %</th>
              <th>Records</th>
            </tr>
          </thead>
          <tbody>
            <% DbStats.index_status(15).to_set.each do |t| %>
              <tr>
                <td><%= t["relname"] %></td>
                <td><%= t["percent_of_times_index_used"] %> %</td>
                <td><%= t["rows_in_table"] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  
  </div>

  <div class="row">

    <div class="dashboard_section panel span6">
      <h3>Heap Index Ratio</h3>
      <div class="panel_contents">
        <table border="0" cellspacing="0" cellpadding="0">
          <thead>
            <tr>
              <th>Heap Read</th>
              <th>Heap Hit</th>
              <th>Heap Ratio</th>
            </tr>
          </thead>
          <tbody>
            <% DbStats.hit_ratio.to_set.each do |t| %>
              <tr>
                <td><%= t["heap_read"].to_s %></td>
                <td><%= t["heap_hit"].to_s %></td>
                <td><%= (t["ratio"].to_f * 100).round(4) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>

<% end %>