<% cache_expiring("aa/logged_users", 1.hour) do %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Last Activity</th>
        <th>Last IP</th>
        <th>Current IP</th>
      </tr>
    </thead>
    <tbody>
      <% User.logged_in(15).each do |user| %>
        <tr>
          <td><%= link_to_if(user.name.present?,user.name.to_s, admin_user_path(user)) %></td>
          <td><%= link_to(user.email, admin_user_path(user)) %></td>
          <td><%= time_ago_in_words(user.current_sign_in_at) if user.current_sign_in_at %> ago</td>
          <td><%= user.last_sign_in_ip.to_s %></td>
          <td><%= user.current_sign_in_ip.to_s%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
