<% content_for :head do %>
  <%= auto_discovery_link_tag(:rss, action: 'show', id: @tag.id, format: "rss") %>
  <%= auto_discovery_link_tag(:atom, action: 'show', id: @tag.id, format: "atom") %>
<% end %>


<% @items.each do |item| %>
  <%= render partial: "/shared/item", locals: {item: item } %>
<% end %>

<% content_for :breadcrumb do %>
  <li>
    <%= link_to "Home", root_path, title: "Home", rel: 'home' %>
    <span class="divider">/</span>
  </li>
  
  <li>
    <%= link_to _("Tags"), tags_path, title: 'All Tags' %>
    <span class="divider">/</span>
  </li>
  
  <li class="active">
    <h1>
      <%= @tag.title %>
      <%= link_to(
            image_tag("icons/social/rss_16.png", alt: "RSS for #{@tag.title} tag"), 
            tag_path(@tag, format: "rss"),
            title: (_("RSS feed for items tagged %{str}") % { str: @tag.title })
          )
      %>
    </h1>
  </li>
  
  <% if params[:page] && params[:page].to_i > 0 %>
    <li>
      <span class="divider">/</span>
      <%= _("Page") %> <%= params[:page] %>
      <span class="divider">/</span>
    </li>
  <% end %>
  
<% end %>


<div class="pagination">
  <%= paginate @items %>
</div>
