<div class="row">
  <div class="span8">
    <%= form_for(resource,
          as: resource_name,
          url: session_path(resource_name),
          html: { class: form_class }
        ) do |f| 
    %>
      <fieldset class="withBorder">
        <legend><%= _("Sign in") %></legend>

        <div class="control-group">
          <%= f.label :email, class: 'control-label' %>
          <div class="controls">
            <%= f.text_field :email, required: false, autofocus: true, type: "email", class: "input-large" %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :password, _("password"), class: 'control-label'%>
          <div class="controls">
            <%= f.password_field :password, required: false, class: "input-large"  %>
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <%= f.submit _("Sign in"), class: "btn", data: {disable_with: _('Loading...')} %> 
            &nbsp;
            <%= f.check_box :remember_me if devise_mapping.rememberable? %>
            <label class="inline" for="user_remember_me">
              <%= _("Stay Signed in") %>
            </label>
          </div>
        </div>

        <div class='control-group'>
          <div class="controls">
            <%= link_to _("Can't access your account?"), new_password_url(resource_name, protocol: "https") %>
          </div>
        </div>

        <div class='control-group'>
          <div class="horizontal-divider"></div>
          <div class="controls">
            <b><%= _("Or login with your existing services") %></b>
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <%= render partial: '/shared/social_connects' %>
          </div>
        </div>

      </fieldset>
    <% end %>
  </div>
</div>

<% content_for :breadcrumb do %>
  <li>
    <%= link_to "Home", root_path, title: "Home", rel: 'home' %>
    <span class="divider">/</span>
  </li>
  <li class="active">Sign in</li>
<% end %>