<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>World Mathaba: <%= @item.title %></title>
  <style type="text/css">
    body{
      -webkit-text-size-adjust:100%;
      -ms-text-size-adjust:100%;
      color: #333;
      font-size: 14px;
      text-rendering: optimizeLegibility;
      background-color: white;
      margin: 16px 8px;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: normal;
      line-height: 18px;
    }
    .ExternalClass {
      width:100%;
    }
    .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
      line-height: 100%;
    }
    #backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}
    img {outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;}
    a img {border:none;}
    .image_fix {display:block;}
    p {margin: 1em 0;}
    h1 a:visited, h2 a:visited,  h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
      color: purple !important;
    }
    div.article {
      margin: 10px;
      border: 1px solid #CCC;
      padding: 0 10px 10px 10px;
      border-radius: 8px;
      box-shadow: 0px 0px 8px #bbb;
      background-color: #F9F9F9;
    }
    a {
      color: #0069D6;
      text-decoration: none;
    }
    a:hover {
      color: #00438A;
      text-decoration: underline;
    }
    h2 {
      margin: 2px 4px 10px 4px;
      text-align: center;
      font-size: 20px;
    }
    h3 {
      font-size: 18px;
      line-height: 18px;
      margin: 10px 2px;
    }
    .small {
      font-size: 12px;
      color: #555;
    }
    img {
      border: 1px solid white;
      box-shadow: 0px 0px 6px #bbb;
      margin: 1px 2px 4px 1px;
    }
    a.tag {
      overflow: visible;
      text-decoration: none;
      white-space: nowrap;
      height: auto;
      display: inline-block;
      background-color: transparent;
      border-radius: 4px;
      border: 1px solid #CCC;
      box-shadow: 0px 0px 4px #ccc;
      padding: 2px 6px;
      margin: 3px;
    }
    a.tag:hover {
      border: 1px solid #bbb;
      box-shadow: 0px 0px 7px #bbb;
    }
    table td {border-collapse: collapse;}
  </style>
</head>

<body>
  <div class="content">
    <h2><%= @item.title %></h2>
    <div class="article">
      <div>
        <h3>
          <%= link_to @item.abstract, @url %>
        </h3>
      </div>
      <div>
        <p>
          <span style="float:left; margin-right:10px;">
            <% if @item.has_image? %>
              <%= image_tag(@item.main_image.image.small) %>
            <% elsif @item.youtube_id && @item.youtube_img %>
              <%= image_tag("https://img.youtube.com/vi/#{@item.youtube_id}/2.jpg") %>
            <% end %>
          </span>
          <%= truncate(
                sanitize(@item.body,
                  tags: %w(),
                  attributes: %w()
                ),
                length: 500,
                omission: ' ... (click link to read full article)'
              )
          %>
        </p>
        Link: <%= link_to @url, @url %>
      </div>

      <div>
        <br />
        <span class="source_url">
          <span class='author' itemprop='author'>
            <% if @item.original? %>
              Written by <b><%= link_to @item.user.public_display_name, author_path(@item.user) %></b>
            <% else %>
              Submitted by <b><%= link_to @item.user.public_display_name, author_path(@item.user) %></b>
            <% end %>
          </span>
        </span>

        <p class="source_url">
          Category: 
          <%= link_to @item.category_title, 
                url_for(category_path(@item.category, ref: "email", only_path: false, protocol: 'http'))
          %>
        </p>
        <p class="source_url">
          Tags:
          <% @item.tags.each do |tag| %>
            <span class="tags">
              <%= link_to tag.title, 
                    url_for(tag_path(tag, ref: "email", only_path: false, protocol: 'http')),
                     class: "tag"
              %>
            </span>
          <% end %>
        </p>
        <p>
          To disable email notifications follow
          <%= link_to "this link", "https://worldmathaba.net/users/edit" %>.
        </p>
      </div>
    </div>
  </div>
</body>
</html>

