<% content_for :head do %>
  <%= auto_discovery_link_tag(:rss, action: 'index', format: "rss") %>
  <%= auto_discovery_link_tag(:atom, action: 'index', format: "atom") %>
<% end %>

<% @items.each do |item| %>
  <%= render partial: "/shared/item", locals: {item: item } %>
<% end %>

<% content_for :breadcrumb do %>
  <li>
    <%= link_to "Home", root_path, title: "Home", rel: 'home' %>
    <span class="divider">/</span>
  </li>
  <% if @language %>
    <li>
      <%= link_to "All Languages", languages_path %>
      <span class="divider">/</span>
    </li>
    <li class="active">
      <h1>
        <%= @language.description %> Language News
        <%= link_to(
              image_tag("icons/social/rss_16.png", alt: "RSS for #{@language.description}"), 
              language_items_path(@language, format: "rss"),
              title: "RSS feed for #{@language.description} items"
            )
        %>
      </h1>
    </li>
  <% else %>
    <li class="active">
      <h1>Latest News</h1>
    </li>
  <% end %>
<% end %>


<div class="pagination">
  <%= paginate @items %>
</div>
