<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @item.title %>
</p>

<p>
  <b>Highlight:</b>
  <%= @item.highlight %>
</p>

<p>
  <b>Body:</b>
  <%= @item.body %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
