<% @meta_title = " - #{@item.title}" %>
<% @meta_description = @item.abstract %>
<% @meta_keywords = "#{@item.category_title}, #{@item.tag_list}, #{@item.language_title}" %>
<% @meta_language = @item.language_title %>
<% @meta_author = @item.user.title if @item.user %>

<%= content_for :head do %>
  <%= render :partial => "og" %>
  
  <!-- Update your html tag to include the itemscope and itemtype attributes -->
  <html itemscope itemtype="http://schema.org/Article">

  <!-- Add the following three tags inside head -->
  <meta itemprop="name" content="<%= @item.title %>">
  <meta itemprop="description" content="<%= @item.abstract %>">
  <% unless @item.attachments.empty? %>
    <meta itemprop="image" content="<%= @item.attachments.first.image.thumb %>">
  <% end %>
  
<% end %>

<article id="<%= @item.id %>">
  <h1><%= @item.title %></h1>
  
  <span class="source_url">
    <% if @item.source_url %>
      <%= link_to "Source", @item.source_url %>
    <% end %>
    <% if @item.author_name %>
      by <span class="author"> <%= @item.author_name %></span>
    <% end %>
  </span>
  
  <section>
    <% unless @item.attachments.empty?%>
      <% if @item.featured %>
        <%= image_tag(@item.attachments.first.image.large, :class => "show_item_image") %>
      <% else %>
        <%= image_tag(@item.attachments.first.image.medium, :class => "show_item_image") %>
      <% end %>
    <% end %>
    <p><i><%= @item.highlight %></i></p>
    <%= @item.body.html_safe %>
  </section>
  <footer>
    <span class="date"><%= time_tag(@item.published_at, :pubdate => true) %></span>
    <% if @item.user %>
      <span class="author"> Submitted by <%= link_to_if(@item.user, @item.user.title, @item.user) %></span>
    <% else %>
      by User
    <% end %>
    <ul class="tags">
      Tags:
      <% @item.tags.each do |tag| %>
        <li><%= link_to tag.title, tag_path(tag), :title => "View all items in '#{tag.title}'" %> </li>
      <% end %>
      <% if @item.language %>
        <li><%= link_to @item.language.description, language_items_path(@item.language) %></li>
      <% end %>
    </ul>
    <div class="share">
      <%= link_to image_tag("icons/social/facebook_16.png", :alt => "Facebook"),
            facebook_share(@item),
            :title => "Share on Facebook",
            :target => "_blank"
      %>
      <%= link_to image_tag("icons/social/twitter_16.png", :alt => "Twitter"),
            twitter_share(@item),
            :title => "Share on Twitter",
            :target => "_blank",
            'data-via'=>"WorldMathaba"
      %>
      <%= link_to image_tag("icons/social/reddit_16.png", :alt => "Reddit"),
            reddit_share(@item),
            :title => "Reddit Share",
            :target => "_blank"
      %>
      <%= link_to image_tag("icons/social/digg_alt_16.png", :alt => "Digg"),
            digg_share(@item),
            :rev => "news, world_news, #{@item.category_title}",
            :title => "Digg it",
            :target => "_blank"
      %>
      <%= link_to image_tag("icons/social/slashdot_16.png", :alt => "Slashdot"),
            slashdot_share(@item),
            :title => "Slashdot Share",
            :target => "_blank"
      %>
      <%= link_to image_tag("icons/social/posterous_16.png", :alt => "Posterous"),
            posterous_share(@item),
            :title => "Posterous Share",
            :target => "_blank"
      %>
      <%= link_to image_tag("icons/social/delicious_16.png", :alt => "Delicious"),
            delicious_share(@item),
            :title => "Delicious Share",
            :target => "_blank"
      %>
      <%= link_to image_tag("icons/social/google_plus_16.png", :alt => "GooglePlus"),
            gplus_share(@item),
            :title => "GooglePlus Share",
            :popup => ['GooglePlus','toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes'],
            :target => "_blank"
      %>
      <%= link_to image_tag("icons/social/email_16.png", :alt => "Email"), 
            email_share(@item),
            :title => "Share by Email",
            :target => "_blank"
      %>
      <%= link_to image_tag("icons/social/rss_16.png"), 
            "#",
            :title => "RSS Feed",
            :target => "_blank"
      %>
      <%= render :partial => "/shared/gplus" %>
      <%#= render :partial => "/shared/twitter" %>
    </div>
    
    <div class="page_views">
      Views: <%= @item_stat.views_counter if @item_stat %>
    </div>
    
  </footer>
  
  <% unless @related.empty? %>
    <section id="related">
      <h4>Related items</h4>
      <ul>
        <% @related.each do |item| %>
          <li><%= link_to item.title, item, :title => item.abstract %></li>
        <% end %>
      </ul>
    </section>
  <% end %>
</article>

<!-- <section id="item_<%#= @item.id %>_comments">
  <%#= render_comments @item %>
  <%#= render_comments_form @item %>
</article> -->

<section id="item_<%= @item.id %>_comments">
  <% if @item.allow_comments %>
    <%= render :partial => "/shared/intense" %>
  <% else %>
    <h4>Comments are disabled for this item</h4>
  <% end %>
</article>


<% content_for :breadcrumb do %>
  <li>
    <a href="/">Home</a>
    <span class="divider">/</span>
  </li>
  <li>
    <%= link_to_if(@item.category, @item.category_title, @item.category) %>
    <span class="divider">/</span>
  </li>
  <li>
    <%= @item.published_at.strftime("%Y-%m-%d") %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    <%= @item.title %>
  </li>
<% end %>

<%= content_for :scripts do %>
  <script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>
  <script type="text/javascript">
    twttr.events.bind('tweet', function(event) {
      window.location = "<%= url_for(item_path(@item.id, :only_path => false, :protocol => 'https')) %>"
    });
  </script>
<% end %>
