<%= content_for :html_tag do %>itemscope itemtype="http://schema.org/Article"<% end %>

<%= content_for :head do %>
  <%= render partial: "og" %>
  <meta itemprop="name headline" content="<%= @item.title %>">
  <meta itemprop="inLanguage" content="<%= @item.language_title_short %>">
  <meta itemprop="description" content="<%= @item.abstract %>">
  <% if @item.has_image? %>
    <meta itemprop="image" content="<%= @item.main_image.image.large %>">
  <% end %>
<% end %>

<% cache_expiring("show/#{@item.cache_key}", 15.minutes) do %>

  <div id="item_<%= @item.id %>">
    <article itemscope itemtype="http://schema.org/Article">

      <div class="font_control" id="font_control" style="display:none;">
        <span class="click" id="decreaseFont" title="Reduce Size">A-</span>
        <span class="click" id="resetFont" title="Default Font">A</span>
        <span class="click" id="increaseFont" title="Increase Size">A+</span>
      </div>

      <h1><span itemprop="name headline"><%= @item.title %></span></h1>

      <span class="source_url">
        <% if @item.original? %>
          <%= _("By") %>
          <span class='author' itemprop='author' itemscope itemtype='http://schema.org/Person'>
            <%= link_to_if(@item.user,
                    @item.user_title,
                    author_path(@item.user),
                    title: "Author Page: #{@item.author_name}",
                    rel: 'author',
                    itemprop: 'url'
                )
            %>
          </span>
        <% elsif @item.youtube_id && @item.youtube_vid %>
          <%= link_to _('Youtube Source'), "https://www.youtube.com/watch?v=#{@item.youtube_id}" %>
        <% elsif @item.source_url %>
          <%= link_to _('Source'), @item.source_url %>
        <% end %>
        <% if !@item.original? && @item.author_name %>
          - <%= _("by") %>
          <span class='author' itemprop='author'>
            <%= link_to @item.author_name, search_path(q: "\"#{@item.author_name}\""), title: _('Author Articles') %>
          </span>
        <% end %>
      </span>

      <section>
        <% if @item.has_image? %>
          <figure>
            <span itemprop="image">
              <%= link_to image_tag(@item.main_image.image.medium,
                              class: "show_item_image",
                              id: "main_image",
                              alt: alt_for_image(@item.main_image)
                    ),
                    @item.main_image.image.full.url,
                    target: "blank",
                    class: "image-popup",
                    title: alt_for_image(@item.main_image)
              %>
            </span>
            <% if @item.main_image.title %>
              <figcaption>
                <%= @item.main_image.title.to_s.truncate(100) %>
              </figcaption>
            <% end %>
          </figure>
        <% end %>
        <div id="item_body" itemprop="articleBody">
          <%= render partial: "/shared/youtube_video" %>
          <%= @item.body.html_safe %>
        </div>
      </section>

      <footer>
        <span class="date" itemprop="datePublished" >
          <%= time_tag(@item.published_at.in_time_zone("UTC"), pubdate: false) %> (UTC)
        </span>

        <% if @item.user %>
          <span class="author">
            <i class="icon-user"></i>
            <% if @item.original? %>
              <%= _("Written by") %>
            <% else %>
              <%= _("Submitted by") %>
            <% end %>
            <%= link_to_if(@item.user, @item.user.title, author_path(@item.user), rel: 'author') %>
          </span>
        <% else %>
          <%= _("by User") %>
        <% end %>

        <% if @item.updated_after_published? %>
          <span class="item_updated">
            (Updated: <%= time_tag(@item.last_updated_version.in_time_zone("UTC"), pubdate: false) %>)
          </span>
        <% end %>


        <% if @item.original %>
          <%= render partial: "license", locals: {item: @item} %>
        <% end %>

        <div itemprop="keywords">
          <ul class="tags">
            <% @item.general_tags.each do |tag| %>
              <li>
                <span itemprop='keywords'>
                  <%= link_to(
                        tag.title,
                        tag_path(tag),
                        title: "See all Articles tagged as '#{tag.title}'",
                        rel: 'tag'
                      )
                  %>
                </span>
              </li>
            <% end %>
            <% @item.region_tags.each do |tag| %>
              <li>
                <span itemprop='keywords'>
                  <%= link_to(
                        tag.title,
                        tag_path(tag),
                        title: "See all Articles tagged as '#{tag.title}'",
                        rel: 'tag'
                      )
                  %>
                </span>
              </li>
            <% end %>
            <% @item.country_tags.each do |tag| %>
              <li>
                <span itemprop='keywords'>
                  <%= link_to(
                        tag.title,
                        tag_path(tag),
                        title: "See all Articles tagged as '#{tag.title}'",
                        rel: 'tag'
                      )
                  %>
                </span>
              </li>
            <% end %>
          </ul>
        </div>

        <i class="icon-play-circle"></i>
        <div class="page_views">
          <%= _("Views") %>
          <% if @item_stat %>
            <%= @item_stat.views_counter %>
          <% else %>
            1
          <% end %>
        </div>
        <%= render partial: "vote_links", locals: {item: @item} %>
      </footer>

      <div class="clearfix">
        <span class="share">
          <%= link_to image_tag("icons/social/facebook_16.png", alt: "Facebook"),
                facebook_share(@item),
                title: "Share on Facebook",
                target: "_blank"
          %>
          <%= link_to image_tag("icons/social/twitter_16.png", alt: "Twitter"),
                twitter_share_intent(@item),
                title: "Share on Twitter",
                target: "_blank",
                data: {
                  via: "WorldMathaba",
                  related: twitter_data_related(@item)
                }
          %>
          <%= link_to image_tag("icons/social/reddit_16.png", alt: "Reddit"),
                reddit_share(@item),
                title: "Reddit Share",
                target: "_blank"
          %>
          <%= link_to image_tag("icons/social/digg_alt_16.png", alt: "Digg"),
                digg_share(@item),
                title: "Digg it",
                target: "_blank"
          %>
          <%= link_to image_tag("icons/social/email_16.png", alt: "Email"),
                email_share(@item),
                title: "Share by Email",
                target: "_blank"
          %>
          <%= link_to image_tag("icons/social/google_plus_16.png", alt: "GooglePlus"),
                gplus_share(@item),
                title: "GooglePlus Share",
                target: "_blank"
          %>
          <%#= link_to image_tag("icons/social/slashdot_16.png", alt: "Slashdot"),
                slashdot_share(@item),
                title: "Slashdot Share",
                target: "_blank"
          %>
          <%#= link_to image_tag("icons/social/posterous_16.png", alt: "Posterous"),
                posterous_share(@item),
                title: "Posterous Share",
                target: "_blank"
          %>
          <%#= link_to image_tag("icons/social/delicious_16.png", alt: "Delicious"),
                delicious_share(@item),
                title: "Delicious Share",
                target: "_blank"
          %>
          <%#= link_to image_tag("icons/social/diaspora-16.jpg", alt: "Diaspora"),
                diaspora_share(@item),
                title: "Share on Diaspora",
                target: "_blank"
          %>
          <%= flattr_large %>
        </span>
      </div>

      <div class="clearfix">
        <div class="facebook_badge">
          <%= render partial: "/shared/facebook" %>
        </div>
      </div>

      <div class="clearfix">
        <span class="reddit" id="reddit">
          <%= render partial: "/shared/reddit" %>
        </span>
      </div>

      <div class="clearfix">
        <div class="gplus_badge">
          <%= render partial: "/shared/gplus_badge" %>
        </div>
      </div>

      <% @related = @item.solr_similar %>
      <% if @related && @related.total > 0 %>
        <div class="related">
          <section id="related">
            <h3><%= _("Related articles") %></h3>
            <ul class="related">
              <% @related.results.each do |item| %>
                <li><%= item_mini_related(item).html_safe %> </li>
              <% end %>
            </ul>
          </section>
        </div>
      <% end %>

    </article>
  </div>
<% end %>


<section id="item_<%= @item.id %>_comments">
  <%= render partial: "comments" %>
</section>

<% content_for :breadcrumb do %>
  <li>
    <%= link_to "Home", root_path, title: "Home", rel: 'home' %>
    <span class="divider">/</span>
  </li>
  <li>
    <%= link_to_if(
          @item.category,
          @item.category_title,
          @item.category,
          title: @item.category_title
        )
    %>
    <span class="divider">/</span>
  </li>
  <li>
    <%= @item.published_at.in_time_zone("UTC").strftime("%Y-%m-%d") %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    <span>
      <%= link_to @item.title,
            item_path(@item,
              only_path: false,
              protocol: 'http',
              host: localized_host(@item.language_title_short)
            ),
          rel: 'canonical',
          title: @item.title
      %>
    </span>
  </li>

  <% if current_ability.can?(:manage,Item) %>
    <li>
      <span class="divider">/</span>
      <b><%= link_to _("Edit"), edit_admin_item_path(@item), class: 'btn btn-mini' %></b>
    </li>
  <% end %>

<% end %>

<%= content_for :head do %>
  <%= canonical_item_link_tag(@item) %>
<% end %>
