<article>
  
  <h1><%= @item.title %></h1>
  
  <section>
    <p><i><%= @item.highlight %></i></p>
    <%= @item.body.html_safe %>
  </section>
  
  <footer>
    
    <span class="date">
      Published on 
      <%= time_tag(@item.published_at, :pubdate => true) %>
    </span>
    <% if @item.user %>
      <span class="author"> by <%= link_to_if(@item.user, @item.user.title, @item.user) %></span>
    <% elsif @item.author_name %>
      <span class="author"> by <%= @item.author_name %></span>
    <% else %>
      by User
    <% end %>
    <ul class="tags">
      Tags:
      <% @item.tags.each do |tag| %>
        <li><%= link_to tag.title, tag %> </li>
      <% end %>
    </ul>
  </footer>
  
</article>