<%= content_for :html_tag do %>itemscope itemtype="http://schema.org/Article"<% end %>

<%= content_for :head do %>
  <%= render partial: "og" %>

  <!-- Add the following three tags inside head -->
  <meta itemprop="headline" content="<%= @item.title %>">
  <meta itemprop="inLanguage" content="<%= @item.language_title_short %>">
  <meta itemprop="description" content="<%= @item.abstract %>">
  <% if @item.has_image? %>
    <meta itemprop="image" content="<%= @item.main_image.image.thumb %>">
  <% end %>
<% end %>

<% cache_expiring("show/#{@item.cache_key_full}", 600) do %>
  <!-- CACHE_KEY <%= "show/#{@item.cache_key_full}" %> -->
  <div itemscope itemtype="http://schema.org/Article">
    <article id="item_<%= @item.id %>">

      <div class="font_control" id="font_control" style="display:none;">
        <a id="decreaseFont" href="#" title="Reduce Size">A-</a>
        <a id="resetFont" href="#" title="Default Font">A</a>
        <a id="increaseFont" href="#" title="Increase Size">A+</a>
      </div>
      <h1><span itemprop="headline"><%= @item.title %></span></h1>

      <span class="source_url">
        <% if @item.original? %>
          By 
          <span class='author' itemprop='author'>
            <%= link_to_if(@item.user,
                    @item.user.title,
                    author_path(@item.user),
                    title: "Author Page: #{@item.author_name}")
            %>
          </span>
        <% elsif @item.youtube_id && @item.youtube_vid %>
          <%= link_to 'Youtube Source', "http://www.youtube.com/watch?v=#{@item.youtube_id}" %>
        <% elsif @item.source_url %>
          <%= link_to 'Source', @item.source_url %>
        <% end %>
        <% if !@item.original? && @item.author_name %>
          - by
          <span class='author' itemprop='author'>
            <%= link_to @item.author_name, search_path(q: @item.author_name), title: 'Author Articles' %>
          </span>
        <% end %>
      </span>

      <section>
        <% if @item.has_image? %>
          <figure>
            <span itemprop="image">
              <%= link_to image_tag(@item.main_image.image.medium,
                              class: "show_item_image",
                              id: "main_image",
                              alt: alt_for_image(@item.main_image),
                              alt: alt_for_image(@item.main_image)
                    ),
                    @item.main_image.image.large.url,
                    target: "blank",
                    id: "main_image_popup",
                    title: alt_for_image(@item.main_image)
              %>
            </span>
            <% if @item.main_image.title %>
              <figcaption>
                <%= @item.main_image.title.to_s.truncate(100) %>
              </figcaption>
            <% end %>
          </figure>
        <% end %>
        <div id="item_body" itemprop="articleBody">
          <%= render partial: "/shared/youtube_video" %>
          <%= @item.body.html_safe %>
        </div>
      </section>

      <footer>
        <span class="date" itemprop="datePublished" >
          <%= time_tag(@item.published_at.in_time_zone("UTC"), pubdate: false) %> (UTC)
        </span>
        <% if @item.user %>
          <span class="author">
            <i class="icon-user"></i>
            <% if @item.original? %>
              Written by
            <% else %>
              Submitted by
            <% end %>
            <%= link_to_if(@item.user, @item.user.title, author_path(@item.user)) %>
          </span>
        <% else %>
          by User
        <% end %>
        <span itemprop="keywords">
          <ul class="tags">
            <i class="icon-tags"></i>
            <% @item.tags.each do |tag| %>
              <li><%= link_to tag.title, tag_path(tag), title: "See all Articles tagged as '#{tag.title}'" %></li>
            <% end %>
          </ul>
        </span>

        <i class="icon-play-circle"></i>
        <div class="page_views">
          Views: 
          <% if @item_stat %>
            <%= @item_stat.views_counter %>
          <% else %>
            1
          <% end %>
        </div>

        <span class="share">
          <%= link_to image_tag("icons/social/facebook_16.png", alt: "Facebook"),
                facebook_share(@item),
                title: "Share on Facebook",
                target: "_blank"
          %>
          <%= link_to image_tag("icons/social/twitter_16.png", alt: "Twitter"),
                twitter_share_intent(@item),
                title: "Share on Twitter",
                target: "_blank",
                data: {
                  via: "WorldMathaba",
                  related: twitter_data_related(@item)
                }
          %>
          <%= link_to image_tag("icons/social/reddit_16.png", alt: "Reddit"),
                reddit_share(@item),
                title: "Reddit Share",
                target: "_blank"
          %>
          <%= link_to image_tag("icons/social/digg_alt_16.png", alt: "Digg"),
                digg_share(@item),
                title: "Digg it",
                target: "_blank"
          %>
          <%= link_to image_tag("icons/social/slashdot_16.png", alt: "Slashdot"),
                slashdot_share(@item),
                title: "Slashdot Share",
                target: "_blank"
          %>
          <%#= link_to image_tag("icons/social/posterous_16.png", alt: "Posterous"),
                posterous_share(@item),
                title: "Posterous Share",
                target: "_blank"
          %>
          <%#= link_to image_tag("icons/social/delicious_16.png", alt: "Delicious"),
                delicious_share(@item),
                title: "Delicious Share",
                target: "_blank"
          %>
          <%#= link_to image_tag("icons/social/diaspora-16.jpg", alt: "Diaspora"),
                diaspora_share(@item),
                title: "Share on Diaspora",
                target: "_blank"
          %>
          <%= link_to image_tag("icons/social/email_16.png", alt: "Email"),
                email_share(@item),
                title: "Share by Email",
                target: "_blank"
          %>
          <%#= link_to image_tag("icons/social/rss_16.png"),
                "#",
                title: "RSS Feed",
                target: "_blank"
          %>
          <%= link_to image_tag("icons/social/google_plus_16.png", alt: "GooglePlus"),
                gplus_share(@item),
                title: "GooglePlus Share",
                target: "_blank"
          %>
          <%#= render partial: "/shared/gplus" %>
          <%#= render partial: "/shared/twitter" %>
          <%= flattr_large %>
          <%#= render partial: "/shared/facebook" %>

        </span>
      </footer>

      <% @related = @item.solr_similar %>
      <% if @related && @related.total > 0 %>
        <section id="related">
          <h4>Related items</h4>
          <ul class="related">
            <% @related.results.each do |item| %>
              <li>
                <%= link_to item.title, item, title: item_title(item), id: "tooltip" %>
              </li>
            <% end %>
          </ul>
        </section>
      <% end %>

    </article>
  </div>
<% end %>


<section id="item_<%= @item.id %>_comments">
  <%= render partial: "comments" %>
</section>

<% content_for :breadcrumb do %>
  <li>
    <a href="/">Home</a>
    <span class="divider">/</span>
  </li>
  <li>
    <%= link_to_if(@item.category, @item.category_title, @item.category) %>
    <span class="divider">/</span>
  </li>
  <li>
    <%= @item.published_at.in_time_zone("UTC").strftime("%Y-%m-%d") %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    <span><%= @item.title %></span>
  </li>

  <% if current_ability.can?(:manage,Item) %>
    <li>
      <span class="divider">/</span>
      <b><%= link_to "Edit", edit_admin_item_path(@item), class: 'btn btn-mini' %></b>
    </li>
  <% end %>

<% end %>


<%= content_for :scripts do %>
  <% unless is_handheld? %>
    <script type="text/javascript">
      $(document).ready(function() {
        if (!(Modernizr.touch)) {
          $("#main_image_popup").fancybox({
            openEffect  : 'none',
            closeEffect  : 'none'
          });
          $("a#tooltip").easyTooltip({
            yOffset: -30,
            xOffset: -60
          });
          $('a#popover').popover({
            placement: 'bottom'
          });
        }
      });
    </script>
  <% end %>
<% end %>

<%= render partial: "/shared/tinymce" %>