<article id="<%= @item.id %>">
  <h1><%= @item.title %></h1>
  
  <span class="source_url">
    <% if @item.source_url %>
      <%= link_to "Source", @item.source_url %>
    <% end %>
    <% if @item.author_name %>
      by <span class="author"> <%= @item.author_name %></span>
    <% end %>
  </span>
  
  <section>
    <% unless @item.attachments.empty?%>
      <% if @item.featured %>
        <%= image_tag(@item.attachments.first.image.large, :class => "show_item_image") %>
      <% else %>
        <%= image_tag(@item.attachments.first.image.medium, :class => "show_item_image") %>
      <% end %>
    <% end %>
    <p><i><%= @item.highlight %></i></p>
    <%= @item.body.html_safe %>
  </section>
  <footer>
    <span class="date"><%= time_tag(@item.published_at, :pubdate => true) %></span>
    <% if @item.user %>
      <span class="author"> Submitted by <%= link_to_if(@item.user, @item.user.title, @item.user) %></span>
    <% else %>
      by User
    <% end %>
    <ul class="tags">
      Tags:
      <% @item.tags.each do |tag| %>
        <li><%= link_to tag.title, tag_path(tag) %> </li>
      <% end %>
      <% if @item.language %>
        <li><%= link_to @item.language.description, language_items_path(@item.language) %></li>
      <% end %>
    </ul>
    <ul class="tags">
      <li>Page hits: <%= @item_stat.views_counter if @item_stat %></li>
    </ul>
  </footer>
  
</article>


<% content_for :breadcrumb do %>
  <li>
    <a href="/">Home</a>
    <span class="divider">/</span>
  </li>
  <li>
    <%= link_to_if(@item.category, @item.category_title, @item.category) %>
    <span class="divider">/</span>
  </li>
  <li>
    <%= @item.published_at.strftime("%Y-%m-%d") %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    <%= @item.title %>
  </li>
<% end %>