<% reply = defined?(reply) ? reply : false %>


<!-- CACHE: <%= comment_cache_key(comment) %> -->

<li id="comment_<%= comment.id %>">

  <% if params[:author_id] && @user && comment.from_item? %>
  <span class="commentable_title">
    <%= link_to(
          comment.commentable_title,
          comment.commentable,
          title: item_title(comment.commentable),
          class: 'easy-tooltip'
        ) if comment.commentable
    %>
  </span>
  <% end %>

  <!-- START CACHING -->
  <% cache_expiring(comment_cache_key(comment), 600) do %>
    <span class="comment_owner">
      <% if comment.owner %>
        <%= link_to(
              image_tag(
                comment.owner.main_image, 
                alt: comment.owner.public_display_name
              ),
              author_comments_path(comment.owner),
              title: "View all #{comment.owner.public_display_name} comments"
            )
        %>
        <i>
          <%= link_to(
                comment.owner.public_display_name,
                author_comments_path(comment.owner),
                title: "View all #{comment.owner.public_display_name} comments"
              )
          %>
        </i>
        said:
      <% end %>
    </span>
    <div class="comment_body">
      <%= sanitize comment.body,
            tags: comment.allowed_html_tags,
            attributes: comment.allowed_html_attributes
      %>
    </div>
    <span class="comment_date">
      <i class='icon-time'></i> <%= time_ago_in_words(comment.created_at) %> <%= _('ago') %>
    </span>

    <%# this enables only 1 level of replies %>
    
    <div class="comment-actions">
      <% if Opinio.accept_replies && !reply %>
        <%= link_to _("Reply"),
            reply_comment_path(comment),
            remote: true,
            class: "btn small primary"
        %>
      <% end %>
      <% if current_admin_user && can?(:destroy, comment) %>
        <%= link_to _('Delete Comment'),
            comment_path(comment),
            method: :delete,
            remote: true,
            class: "btn btn-mini btn-danger",
            data: {
              disable_with: _('Deleting...'),
              confirm: _("Are you sure you want to delete this comment?")
            }
        %>
      <% end %>
      <% if can_edit_comment(comment) %>
        <%= link_to _('Edit Comment'),
            edit_comment_path(comment),
            class: "btn btn-mini btn-warning",
            title: "Edit your comment",
            data: {
              disable_with: 'Loading...'
            }
        %>
      <% end %>
    </div>
    
    <% if Opinio.accept_replies && !reply %>
      <ul id="comment_<%= comment.id %>_replies" class="replies">
        <%= render partial: "opinio/comments/comment",
              collection: comment.comments, locals: {reply: true}
        %>
      </ul>
    <% end %>

  <% end %>
  <!-- END CACHING -->

</li>