<div id="new_comment">
  <% if current_user or current_admin_user %>
    <h3>
      Your Comment
      (as 
      <% if current_user %>
        <%= current_user.title %>
      <% elsif current_admin_user %>
        <%= current_admin_user.title %>
      <% end %>
      )
    </h3>
    <%= form_for Comment.new, remote: true do |f| %>
      <p>
        <%= f.text_area :body, rows: 8, id: "Comment", class: "input-xlarge" %>
      </p>
      <%= hidden_field_tag :commentable_id, commentable.id %>
      <%= hidden_field_tag :commentable_type, commentable.class.base_class.name.to_s %>
      <div class="send_button">
        <%= f.submit "Send Comment",
                class: "btn btn-primary",
                data: {disable_with: 'Sending...'}
        %>
      </div>
      <p>
    <% end %>
  <% else %>
    <p>
      You must be <%= login_link("logged in") %> to comment.
    </p>
  <% end %>
</div>


