<% if @comment && current_user %>
  <%= form_for @comment, html: { method: :put, class: form_class } do |f|%>
    <h3> Editing Comment </h3>
    <p>
      <%= f.text_area :body, rows: 8, id: "Comment", class: "input-xlarge" %>
    </p>
    <div class="send_button">
      <% if is_subscribed?(@comment.commentable.id) %>
          <p>You are subscribed to comments on this article, you can cancel <%= link_to "here", subscriptions_path %> </p>
        <% else %>
          <p>
            <%= f.check_box :subscribe %> 
            <%= f.label :subscribe, "Receive email for new comments?", class: "inline" %>
          </p>
        <% end %>
      <%= f.submit "Update Comment",
            class: "btn btn-primary",
              data: {disable_with: 'Saving...'}
      %>
    </div>
  <% end %>
  <% unless is_handheld? %>
    <%= render partial: "/shared/tinymce" %>
  <% end %>
<% end %>