<% content_for :head do %>
  <%= auto_discovery_link_tag(:rss,  items_rss_path,  format: "rss") %>
  <%= auto_discovery_link_tag(:atom, items_atom_path, format: "atom") %>
<% end %>

<div class="row categories">

  <div class="span6 box" id="main_highlights">
    <% if @highlights && @highlights.first %>
      <% cache_expiring("main/#{@highlights.first.cache_key}", 10.minutes) do %>
        <ul>
          <% @highlights.each do |item| %>
            <li class="featured_item" id="highlight_item_<%=item.id%>">
              <% if item.has_image? %>
                <%= link_to(
                      image_tag(item.main_image.image.main,
                        class: "featured_item_image",
                        alt: item.main_image.title,
                        width: 300, height: 300
                      ),
                      item,
                      title: item_title_small(item),
                      class: 'easy-tooltip'
                    )
                %>
              <% elsif item.youtube_id && item.youtube_img %>
                <%= link_to(
                      image_tag("https://img.youtube.com/vi/#{item.youtube_id}/0.jpg",
                        class: "youtube_main",
                        alt: item.youtube_id
                      ),
                      item,
                      title: item_title_small(item),
                      class: 'easy-tooltip'
                    )
                %>
              <% end %>
              <span class="title">
                <%= link_to item.title.to_s.truncate(100),
                            item,
                            title: item_title_small(item),
                            class: 'easy-tooltip'
                %>
              </span>
              <span class="abstract"><%= item.abstract.to_s.truncate(120) %></span>
            <% end %>
          </li>
        </ul>
      <% end %>
    <% end %>
  </div>
  
  <div class="span6 box" id="highlights">
    <% if @latest_items && @latest_items.first %>
      <% cache_expiring("hglt/#{@latest_items.map{|t| t.updated_at.to_f}.sum}", 10.minutes) do %>
        <h2><%= link_to _("Latest News"), items_path, title: _("Latest News") %></h2>
        <ul>
        <% @latest_items.each do |item| %>
          <li class="list_item" id="highlight_item_<%=item.id%>">
            <% if item.has_image? %>
              <%= link_to(
                    image_tag(item.main_image.image.small,
                        class: "list_item_image",
                        alt: item.main_image.title,
                        width: 100, height: 100
                    ),
                    item,
                    title: item_title_small(item),
                    class: 'easy-tooltip'
                  )
              %>
            <% elsif item.youtube_id && item.youtube_img %>
              <%= image_tag("https://img.youtube.com/vi/#{item.youtube_id}/2.jpg",
                    class: "list_item_image youtube_small", alt: item.youtube_id
                  )
              %>
            <% end %>
            <span class="title">
              <%= link_to item.title.to_s.truncate(120),
                          item,
                          title: item_title_small(item),
                          class: 'easy-tooltip'
              %>
            </span>
            <span class="abstract">
              <%= item.abstract.to_s.truncate(120) %>
            </span>
          </li>
        <% end %>
        </ul>
        <span class="more breaking-news">
          <%= link_to _("more..."), items_path, title: _("Read more breaking news"), class: 'easy-tooltip' %>
        </span>
      <% end %>
    <% end %>
  </div>

  <% for category in @categories %>
    <% @top_items = category.top_items(13) %>
    <% unless @top_items.empty? %>
      <% cache_expiring("box/#{category.id}/#{@top_items.map{|t| t.updated_at.to_f}.sum}", 20.minutes) do %>
        <div class="span6 box" id="<%= category.slug %>">
          <h2><%= link_to category.title, category, title: _("Read more articles in this category") %></h2>
          <ul>
            <% @top_items.each_with_index do |item,index|%>
              <li class="list_item" id="item_<%=item.id%>">
                <% if index==0 %>
                  <% if item.has_image? %>
                    <%= link_to(
                          image_tag(item.main_image.image.small,
                            class: "list_item_image", 
                            alt: item.main_image.title,
                            width: 100, height: 100
                          ),
                          item, 
                          title: item_title_small(item),
                          class: 'easy-tooltip'
                        )
                    %>
                  <% elsif item.youtube_id && item.youtube_img %>
                    <%= image_tag("https://img.youtube.com/vi/#{item.youtube_id}/0.jpg", 
                          class: "list_item_image youtube_small",
                          alt: item.youtube_id
                        )
                    %>
                  <% end %>
                  <%= link_to item.title.to_s.truncate(100), item, 
                          title: item_title_small(item), class: 'easy-tooltip'
                  %>
                  <span class="abstract"><%= item.abstract.to_s.truncate(120) %></span>
                <% else %>
                  <span class="noroll">
                    <%= link_to item.title.to_s.truncate(100), item,
                          title: item_title(item), class: 'easy-tooltip'
                    %>
                  </span>
                <% end %>
              </li>
            <% end %>
          </ul>
          <span class="more">
            <%= link_to _("more..."), category, title: _("Read more articles in this category") %>
          </span>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
