<% content_for :head do %>
  <%= auto_discovery_link_tag(:rss,  items_rss_path,  :format => "rss") %>
  <%= auto_discovery_link_tag(:atom, items_atom_path, :format => "atom") %>
<% end %>

<div class="row categories">
  <div class="span6 box" id="main_highlights">
    <ul>
      <% @highlights.each do |item| %>
        <li class="featured_item" id="highlight_item_<%=item.id%>">
          <% if item.has_image? %>
            <%= link_to(
                  image_tag(item.main_image.image.main, 
                    :class => "featured_item_image", 
                    :alt => item.main_image.title
                  ),
                  item, 
                  :title => item_title_small(item)
                )
            %>
          <% elsif item.youtube_id && item.youtube_img %>
            <%= link_to(
                  image_tag("https://img.youtube.com/vi/#{item.youtube_id}/0.jpg", 
                    :class => "youtube_main", 
                    :alt => item.youtube_id
                  ),
                  item, 
                  :title => item_title_small(item)
                )
            %>
          <% end %>
          <span class="title">
            <%= link_to item.title.to_s.truncate(100), item, :title => item_title_small(item) %>
          </span>
          <span class="abstract"><%= item.abstract.to_s.truncate(120) %></span>
        <% end %>
      </li>
    </ul>
  </div>
  
  <div class="span6 box" id="highlights">
    <% cache("highlights/#{@latest_items.first.cache_key_full}") do %>
      <!-- CACHE KEY: <%= "highlights/#{@latest_items.first.cache_key_full}" %> -->
      <h1><%= link_to "Latest News", items_path %></h1>
      <ul>
      <% @latest_items.each do |item| %>
        <li class="list_item" id="highlight_item_<%=item.id%>">
          <% if item.has_image? %>
            <%= link_to(
                  image_tag(item.main_image.image.small, :class => "list_item_image", :alt => item.main_image.title),
                  item,
                  :title => item_title_small(item)
                )
            %>
          <% elsif item.youtube_id && item.youtube_img %>
            <%= image_tag("https://img.youtube.com/vi/#{item.youtube_id}/2.jpg",
                  :class => "list_item_image youtube", :alt => item.youtube_id
                )
            %>
          <% end %>
          <span class="title"><%= link_to item.title.to_s.truncate(120), item, :title => item_title_small(item) %></span>
          <span class="abstract"><%= item.abstract.to_s.truncate(120) %></span>
        </li>
      <% end %>
      </ul>
    <% end %>
  </div>

  <% for category in @categories %>
    <% @top_items = category.top_items(13) %>
    <% cache("box/#{category.id}/#{@top_items.first.cache_key_full}") do %>
      <!-- CACHE KEY: <%= "box/#{category.id}/#{@top_items.first.cache_key_full}" %> -->
      <div class="span6 box" id="<%= category.slug %>">
        <h1><%= link_to category.title, category %></h1>
        <ul>
          <% @top_items.each_with_index do |item,index|%>
            <li class="list_item" id="item_<%=item.id%>">
              <% if index==0 %>
                <% if item.has_image? %>
                  <%= link_to(
                        image_tag(item.main_image.image.small,
                          :class => "list_item_image", 
                          :alt => item.main_image.title
                        ),
                        item, 
                        :title => item_title_small(item)
                      )
                  %>
                <% elsif item.youtube_id && item.youtube_img %>
                  <%= image_tag("https://img.youtube.com/vi/#{item.youtube_id}/0.jpg", 
                        :class => "list_item_image youtube_small",
                        :alt => item.youtube_id
                      )
                  %>
                <% end %>
                <%= link_to item.title.to_s.truncate(100), item, 
                        :title => item_title_small(item)
                %>
                <span class="abstract"><%= item.abstract.to_s.truncate(120) %></span>
              <% else %>
                <span class="noroll">
                  <%= link_to item.title.to_s.truncate(100), item,
                        :title => item_title(item)
                  %>
                </span>
              <% end %>
            </li>
          <% end %>
        </ul>
        <span class="more"><%= link_to "more...", category, :title => "Read more articles in this category" %></span>
      </div>
    <% end %>
  <% end %>
</div>


<%= content_for :scripts do %>
  <script type="text/javascript">
    if (!(Modernizr.touch)) {
      $(document).ready(function(){
        $("a").easyTooltip({
          yOffset: 0,
          xOffset: 40
        });
      });
      $(document).ready(function() {
        $(".fancybox").fancybox({
          openEffect  : 'none',
          closeEffect  : 'none'
        });
      });
    }
  </script>
<% end %>
