<div class="row categories">
  <% for category in @categories %>
    <div class="span6 box" id="<%= category.slug %>">
      <h1><%= link_to category.title, category %></h1>
      <ul>
        <% category.top_items(8).each_with_index do |item,index|%>
          <li class="list_item" id="item_<%=item.id%>">
            <% if index==0 && !item.attachments.empty? %>
              <%= link_to(
                    image_tag(item.attachments.first.image.small, :class => "list_item_image"),
                    item, 
                    :title => item.abstract
                  )
              %>
              <%= link_to item.title.to_s.truncate(100), item, :title => item.abstract %>
              <span class="abstract"><%= item.abstract.to_s.truncate(80) %></span>
            <% else %>
              <%= link_to item.title.to_s.truncate(160), item, :title => item.abstract %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>