<% content_for :head do %>
  <%= auto_discovery_link_tag(:rss, action: 'show', id: @category.id, format: "rss") %>
  <%= auto_discovery_link_tag(:atom, action: 'show', id: @category.id, format: "atom") %>
<% end %>


<% @items.each do |item| %>
  <%= render partial: "/shared/item", locals: {item: item } %>
<% end %>

<% content_for :breadcrumb do %>

  <li>
    <a href="/">Home</a>
    <span class="divider">/</span>
  </li>
  
  <li class="active">
    <h1>
      <%= @category.title %>
      <%= link_to(
            image_tag("icons/social/rss_16.png", alt: "RSS for #{@category.title}"), 
            category_path(@category, format: "rss"),
            title: "RSS feed for #{@category.title} items"
          )
      %>
    </h1>
  </li>
  
<% end %>

<div class="pagination">
  <%= paginate @items %>
</div>
