<div class="panel">
  <h3>Name</h3>
  <div class="panel_contents">
    <div class="attributes_table item">
      <%= @user.name %>
    </div>
  </div>
</div>

<div class="panel">
  <h3>Email</h3>
  <div class="panel_contents">
    <div class="attributes_table item">
      <%= @user.email %>
    </div>
  </div>
</div>

<div class="panel">
  <h3>Address</h3>
  <div class="panel_contents">
    <div class="attributes_table item">
      <%= @user.address %>
    </div>
  </div>
</div>

<div class="panel">
  <h3>Twitter</h3>
  <div class="panel_contents">
    <div class="attributes_table item">
      <%= @user.twitter %>
    </div>
  </div>
</div>

<div class="panel">
  <h3>Name</h3>
  <div class="panel_contents">
    <div class="attributes_table item">
      <%= @user.name %>
    </div>
  </div>
</div>

<div class="panel">
  <h3>Name</h3>
  <div class="panel_contents">
    <div class="attributes_table item">
      <%= @user.name %>
    </div>
  </div>
</div>

<div class="panel">
  <h3>Name</h3>
  <div class="panel_contents">
    <div class="attributes_table item">
      <%= @user.name %>
    </div>
  </div>
</div>

<div class="panel">
  <h3>Name</h3>
  <div class="panel_contents">
    <div class="attributes_table item">
      <%= @user.name %>
    </div>
  </div>
</div>

<div class="panel">
  <h3>Name</h3>
  <div class="panel_contents">
    <div class="attributes_table item">
      <%= @user.name %>
    </div>
  </div>
</div>

<div class="panel">
  <h3>Created at</h3>
  <div class="panel_contents">
    <div class="attributes_table item">
      <%= @user.created_at %>
    </div>
  </div>
</div>

<div class="panel">
  <h3>Updated at</h3>
  <div class="panel_contents">
    <div class="attributes_table item">
      <%= @user.updated_at %>
    </div>
  </div>
</div>

