<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>" <%= yield(:html_tag) %>>
  <head>
    <%= render partial: "/shared/head" %>
    <%= stylesheet_link_tag "application" %>
    <%= yield(:stylesheets) %>

    <%= csrf_meta_tags %>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= yield(:head) %>
    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="WorldMahaba.net Search" />
    <%= render partial: "/shared/ga" unless current_admin_user %>
  </head>

  <body>
    <%= render partial: "/shared/navbar" %>

    <div class="container-fluid">
      <%= render partial: "/shared/sidebar" %>

      <div class="content">

        <% if @show_breadcrumb %>
          <ul class="breadcrumb hidden-phone">
            <%= yield :breadcrumb %>
          </ul>
        <% end %>
        <%= bootstap_flash %>
        <%= yield %>
        <%= render partial: "/shared/footer" %>
      </div>

    </div>

    <%= javascript_include_tag "application" %>
    <%= yield(:javascripts) %>

    <% unless current_user or current_admin_user %>
      <%= render partial: "/shared/login_modal" %>
    <% end %>
    <%= yield(:footer) %>
    <%= yield(:scripts) %>
  </body>
</html>
