<!DOCTYPE html>
<html lang="en" <%= yield(:html_tag) %>>
  <head>
    <%= render partial: "/shared/head" %>
    <%= stylesheet_link_tag "application" %>
    <%= yield(:stylesheets) %>
    <%= javascript_include_tag "application" %>
    <%= yield(:javascripts) %>
    <%= csrf_meta_tags %>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= yield(:head) %>
    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="WorldMahaba.net Search" />
  </head>
  
  <body>
    <%= render partial: "/shared/topbar" %>
    
    <div class="container-fluid">
      <%= render partial: "/shared/sidebar_account" %>
      
      <div class="content">
        <!-- Content -->
        <!-- <ul class="breadcrumb">
          <%#= yield :breadcrumb %>
        </ul> -->

        <% if notice %>
          <div class="alert-message success fade in" data-alert="notice">
            <a class="close" href="#">×</a>
            <p><%= notice %></p>
          </div>
        <% end %>

        <% if alert %>
          <div class="alert-message warning fade in" data-alert="alert">
            <a class="close" href="#">×</a>
            <p><%= alert %></p>
          </div>
        <% end %>

        <% if flash[:error] %>
          <div class="alert-message error fade in" data-alert="error">
            <a class="close" href="#">×</a>
            <p><%= flash[:error] %></p>
          </div>
        <% end %>
        
        <%= yield %>
        <%= render partial: "/shared/footer" %>
      </div>
      
    </div>
    <%= yield(:footer) %>
    <%= yield(:scripts) %>
  </body>
</html>